Repository home-assistant/operating-system, pull requests merged in 2019-09, with the labels that each got.

#471 create cache dir if not exist
  scripts/enter.sh
Labels: build, cla-signed

#472 Fix screen issue with RPi4
  buildroot-external/board/raspberrypi/boot-env.txt
  buildroot-external/board/raspberrypi/hassos-hook.sh
Labels: board/raspberrypi, cla-signed

#477 Fix handling with FB on RPi4
  buildroot-external/board/intel/nuc/kernel.config
  buildroot-external/board/raspberrypi/boot-env.txt
  buildroot-external/board/raspberrypi/kernel.config
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/kernel/hassos.config
Labels: board/raspberrypi, cla-signed

#483 Don't hang on serial interupts
  buildroot-external/bootloader/uboot.config
Labels: REL-3, cla-signed, os

#442 make clear the usb drive needs to be connected only while configuration
  Documentation/configuration.md
Labels: Documentation, cla-signed

#443 new subheading 'configure network'
  Documentation/network.md
Labels: Documentation, cla-signed

#446 Update network.md
  Documentation/network.md
Labels: cla-signed

#485 Add support for SMS integrations with USB/GSM modem dongles
  buildroot-external/configs/intel_nuc_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/opi_prime_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi0_w_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/kernel/device-support.config
Labels: cla-signed
