Repository home-assistant/operating-system, pull requests merged in 2019-12, with the labels that each got.

#501 Update RPI firmware
  buildroot-patches/0004-rpi-firmware-Bump-firmware-for-kernel-4.19-RPi4.patch
  buildroot/package/rpi-firmware/rpi-firmware.hash
  buildroot/package/rpi-firmware/rpi-firmware.mk
Labels: REL-3, board/raspberrypi, cla-signed

#502 Fix RPI bluetooth issues
  buildroot-patches/0007-rpi-use-latest-wifi-driver.patch
  buildroot/package/rpi-wifi-firmware/rpi-wifi-firmware.hash
  buildroot/package/rpi-wifi-firmware/rpi-wifi-firmware.mk
Labels: REL-3, board/raspberrypi, cla-signed

#503 Fix RPI issues with u-boot / firmware
  buildroot-external/board/raspberrypi/kernel.config
  buildroot-external/board/raspberrypi/patches/uboot/0001-raspberrypi-Disable-simple-framebuffer-support.patch
  buildroot-external/board/raspberrypi/patches/uboot/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/rootfs-overlay/usr/lib/udev/rules.d/99-rpi.rules
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0001-configs-rpi4-Add-defconfig-for-rpi4-64.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0002-dts-Create-a-dtsi-for-BCM2835-6-7-specific-configura.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0003-dts-Add-initial-support-for-bcm2838.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0004-arm-mach-bcm283x-Define-configs-for-RaspberryPi-4.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0005-arm-mach-bcm283x-Define-mbox-address-for-BCM2838.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0006-rpi-Add-rpi_model-entry-for-RaspberryPi-4.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0007-dt-bindings-Define-BCM2838_CLOCK_EMMC2-needed-for-Ra.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0008-arm-bcm283x-Include-definition-for-additional-emmc-c.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0009-mmc-bcm2835_sdhci-Add-support-for-bcm2711-device.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0010-arm-bcm283x-Define-device-base-addresses-for-bcm2835.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0011-bcm2835-video-Bail-out-early-if-querying-video-infor.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0012-bcm283x-mbox-Correctly-wait-for-space-to-send.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0013-config-rpi4-Add-defconfig-for-rpi4-32.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0014-dts-bcm2838-rpi-4-b-Use-the-emmc2-interface-for-sdhc.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0015-rpi-Add-memory-map-for-bcm2838.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0016-configs-rpi4-Remove-DWC2-and-USB_ETHER-configs.patch
  buildroot-external/board/raspberrypi/rpi4/patches/uboot/0017-dts-bcm2838-rpi-4-b-Use-the-emmc2-2811-compatible-st.patch
  buildroot-external/board/raspberrypi/uboot.config
  buildroot-external/configs/rpi0_w_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi_defconfig
  buildroot-external/package/bluetooth-bcm43xx/bluetooth-bcm43xx
  buildroot-external/package/bluetooth-bcm43xx/bluetooth-bcm43xx.mk
  buildroot-external/package/bluetooth-bcm43xx/bluetooth-bcm43xx.rules
  buildroot-external/package/bluetooth-bcm43xx/bluetooth-bcm43xx.service
  buildroot-external/package/bluetooth-bcm43xx/bthelper@.service
  buildroot-external/rootfs-overlay/usr/lib/udev/rules.d/99-hmip-rfusb.rules
Labels: REL-3, board/raspberrypi, cla-signed

#505 Add qemu guest agent
  buildroot-external/Config.in
  buildroot-external/board/intel/ova/kernel.config
  buildroot-external/configs/ova_defconfig
  buildroot-external/package/qemu-guest-agent/Config.in
  buildroot-external/package/qemu-guest-agent/qemu-guest-agent.mk
  buildroot-external/package/qemu-guest-agent/qemu-guest.service
Labels: REL-3, board/ova, cla-signed

#508 Fix auto expand disk for GPT
  buildroot-external/rootfs-overlay/usr/libexec/hassos-expand
Labels: REL-3, cla-signed, os

#509 Kernel updates 4.19.88
  Documentation/kernel.md
  buildroot-external/board/asus/tinker/patches/linux/1008-rockchip-dwc2-usb-partial-power-down.patch
  buildroot-external/configs/intel_nuc_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/opi_prime_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: REL-3, board/asus, board/odroid, board/ova, cla-signed

#511 Fix uboot oprime
  buildroot-external/board/orangepi/kernel.config
  buildroot-external/board/orangepi/patches/README.md
  buildroot-external/board/orangepi/patches/uboot/0020-sunxi-call-fdt_fixup_ethernet-again-to-set-macaddr-f.patch
  buildroot-external/board/orangepi/patches/uboot/4kfix-limit-screen-to-full-hd.patch
  buildroot-external/board/orangepi/patches/uboot/adjust-default-dram-clockspeeds.patch
  buildroot-external/board/orangepi/patches/uboot/do-not-relocate-initrd.patch
  buildroot-external/board/orangepi/patches/uboot/enable-DT-overlays-support.patch
  buildroot-external/board/orangepi/patches/uboot/enable-r_pio-gpio-access-h3-h5.patch
  buildroot-external/board/orangepi/patches/uboot/fdt-setprop-fix-unaligned-access.patch
  buildroot-external/board/orangepi/patches/uboot/h3-Fix-PLL1-setup-to-never-use-dividers.patch
  buildroot-external/board/orangepi/patches/uboot/h3-enable-power-led.patch
  buildroot-external/board/orangepi/patches/uboot/h3-set-safe-axi_apb-clock-dividers.patch
  buildroot-external/board/orangepi/patches/uboot/lower-default-DRAM-freq-A64-H5.patch.disabled
  buildroot-external/board/orangepi/patches/uboot/sun8i-set-machid.patch
  buildroot-external/board/orangepi/patches/uboot/sunxi-boot-splash.patch
  buildroot-external/configs/opi_prime_defconfig
Labels: REL-3, cla-signed
