Repository home-assistant/operating-system, pull requests merged in 2021-04, with the labels that each got.

#1295 Linux: Update kernel 5.4.109
  Documentation/kernel.md
  buildroot-external/configs/intel_nuc_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: board/intel-nuc, board/ova, board/tinker, cla-signed

#1296 Fix rauc hook compatible compare logic
  buildroot-external/ota/rauc-hook
Labels: cla-signed, os-update

#1293 Re-add patches missed with U-Boot 2021.04-rc4 upgrade
  buildroot-external/board/asus/tinker/patches/uboot/0002-pmic-enable-LDO2-vcc33_mipi-at-bootup.patch
  buildroot-external/board/hardkernel/patches/uboot/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
Labels: board/odroid, board/tinker, cla-signed

#1300 Update to U-Boot 2021.04
  buildroot-external/board/asus/tinker/patches/uboot/0001-SPL-modify-load-address-of-U-Boot.patch
  buildroot-external/board/asus/tinker/patches/uboot/0002-pmic-enable-LDO2-vcc33_mipi-at-bootup.patch
  buildroot-external/board/hardkernel/patches/uboot/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  buildroot-external/board/raspberrypi/patches/uboot/0001-CMD-read-string-from-fileinto-env.patch
  buildroot-external/board/raspberrypi/patches/uboot/0002-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/patches/uboot/0003-raspberrypi-Disable-simple-framebuffer-support.patch
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/rpi0_w_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: board/odroid, board/raspberrypi, board/tinker, cla-signed, os

#1266 Support for RPI-RF-MOD/HM-MOD-RPI-PCB for HomeMatic/homematicIP communication
  buildroot-external/Config.in
  buildroot-external/board/asus/hassos-hook.sh
  buildroot-external/board/asus/tinker/boot-env.txt
  buildroot-external/board/asus/tinker/uboot-boot.ush
  buildroot-external/board/asus/tinker/uboot.config
  buildroot-external/board/raspberrypi/boot-env.txt
  buildroot-external/board/raspberrypi/hassos-hook.sh
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi0_w_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/kernel/device-support.config
  buildroot-external/package/eq3_char_loop/0001-Makefile.patch
  buildroot-external/package/eq3_char_loop/0002-version1_1.patch
  buildroot-external/package/eq3_char_loop/Config.in
  buildroot-external/package/eq3_char_loop/eq3_char_loop.mk
  buildroot-external/package/generic_raw_uart/0001-kernel-Makefile.patch
  buildroot-external/package/generic_raw_uart/Config.in
  buildroot-external/package/generic_raw_uart/generic_raw_uart.mk
  buildroot-external/package/rpi-rf-mod/Config.in
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.mk
Labels: board/generic-x86-64, board/odroid, board/ova, board/raspberrypi, board/tinker, cla-signed

#1301 Use updater instead of config version
  buildroot-external/rootfs-overlay/usr/sbin/hassos-supervisor
Labels: cla-signed, os

#1305 Fix ODROID-C2 Ethernet on some boards (#1202)
  buildroot-external/board/hardkernel/patches/uboot/0002-arm64-dts-meson-odroidc2-readd-PHY-reset-properties.patch
Labels: REL-5, board/odroid, cla-signed, u-boot

#1307 Typo fix
  .github/ISSUE_TEMPLATE.md
Labels: cla-signed

#1311 Fix update kernel upstream script
  scripts/update-kernel-upstream.sh
Labels: cla-signed

#1314 Use interface-name to exclude veth
  buildroot-external/rootfs-overlay/etc/NetworkManager/NetworkManager.conf
Labels: cla-signed, os

#1310 Linux: Update kernel 5.10.28
  Documentation/kernel.md
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: board/generic-x86-64, board/odroid, board/ova, board/tinker, cla-signed, linux

#1313 Push dev builds to dev channel automatically
  .github/workflows/dev.yml
  .github/workflows/release.yml
Labels: REL-5, cla-signed

#1315 Enable Intel IGC driver for I225-LM/I225-V Ethernet support (#1309)
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: board/generic-x86-64, cla-signed

#1316 Change OS name from HassOS to HAOS in user visible places
  buildroot-external/board/raspberrypi/boot-env.txt
  buildroot-external/bootloader/barebox.config
  buildroot-external/bootloader/barebox/menu/title
  buildroot-external/bootloader/uboot.config
  buildroot-external/busybox.config
  buildroot-external/package/hassio/hassio.mk
Labels: cla-signed

#1317 Update to OS Agent 1.0.0
  buildroot-external/package/os-agent/os-agent.mk
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/haos-wipe.service
Labels: cla-signed

#1319 Update to OS Agent 1.1.0
  buildroot-external/package/os-agent/os-agent.mk
Labels: cla-signed

#1325 script/enter.sh: Exit if there is an error
  scripts/enter.sh
Labels: build, cla-signed

#1326 Use sparse files when generating image
  buildroot-external/scripts/hdd-image.sh
Labels: build, cla-signed

#1328 Bump Docker to 20.10.6
  buildroot-patches/0001-docker-add-AppArmor-support.patch
  buildroot-patches/0002-network-manager-wpa_supplicant.patch
  buildroot-patches/0003-Fix-dhcp-client.patch
  buildroot-patches/0004-package-rpi-firmware-Allow-to-deploy-multiple-firmwa.patch
  buildroot-patches/0005-package-linux-firmware-add-RTL87XX-RTL88XX-Bluetooth.patch
  buildroot-patches/0006-package-docker-engine-bump-version-to-20.10.6.patch
  buildroot-patches/0007-package-runc-bump-to-version-1.0.0-rc93.patch
  buildroot-patches/0008-package-docker-cli-bump-version-to-20.10.6.patch
  buildroot-patches/0009-package-docker-proxy-bump-version-to-b3507428be5b.patch
  buildroot/package/docker-cli/docker-cli.hash
  buildroot/package/docker-cli/docker-cli.mk
  buildroot/package/docker-engine/docker-engine.hash
  buildroot/package/docker-engine/docker-engine.mk
  buildroot/package/docker-proxy/docker-proxy.hash
  buildroot/package/docker-proxy/docker-proxy.mk
  buildroot/package/runc/runc.hash
  buildroot/package/runc/runc.mk
Labels: cla-signed, os

#1327 Use zip file format for virtual disk images
  .github/workflows/release.yml
  Dockerfile
  buildroot-external/board/pc/ova/hassos-hook.sh
  buildroot-external/scripts/hdd-image.sh
Labels: build, cla-signed

#1333 Bump Raspberry Pi kernel
  Documentation/kernel.md
  buildroot-external/configs/rpi0_w_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi_defconfig
Labels: board/raspberrypi, cla-signed

#1341 Fix shellcheck issues
  buildroot-external/ota/rauc-hook
  buildroot-external/scripts/post-build.sh
  buildroot-external/scripts/post-image.sh
Labels: build, cla-signed

#1343 Linux: Update kernel to 5.10.33
  Documentation/kernel.md
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: board/generic-x86-64, board/odroid, board/ova, board/tinker, cla-signed, kernel, os

#1344 Add fileenv patch for U-Boot 2021.04
  buildroot-external/patches/uboot/2020.10/0001-CMD-read-string-from-fileinto-env.patch
  buildroot-external/patches/uboot/2021.04/0001-cmd-read-string-from-file-into-env.patch
Labels: board/odroid, board/raspberrypi, board/tinker, cla-signed, u-boot

#1345 Fix reboot issue on ODROID-N2+ on Linux 5.10
  buildroot-external/board/hardkernel/patches/linux/0001-arm64-dts-meson-add-RTC-to-ODROID-N2-boards.patch
  buildroot-external/board/hardkernel/patches/linux/0002-arm64-dts-meson-g12b-add-power-button-support.patch
  buildroot-external/board/hardkernel/patches/linux/0003-arm64-dts-meson-g12b-add-GPIO-fan-support.patch
  buildroot-external/board/hardkernel/patches/linux/0004-arm64-dts-meson-g12b-odroid-n2-add-fan-as-cooling-de.patch
  buildroot-external/board/hardkernel/patches/linux/0005-Revert-drm-meson_drv-add-shutdown-function.patch
Labels: board/odroid, cla-signed, kernel

#1346 Drop global patch from Raspberry Pi patchset
  buildroot-external/board/raspberrypi/patches/uboot/0001-CMD-read-string-from-fileinto-env.patch
  buildroot-external/board/raspberrypi/patches/uboot/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/patches/uboot/0002-raspberrypi-Disable-simple-framebuffer-support.patch
Labels: board/raspberrypi, cla-signed, u-boot

#1347 Use built-in Meson DRM driver
  buildroot-external/board/hardkernel/kernel-amlogic.config
  buildroot-external/board/hardkernel/patches/linux/0005-Revert-drm-meson_drv-add-shutdown-function.patch
Labels: cla-signed

#1348 Use upstream SoC version detection
  buildroot-external/board/hardkernel/odroid-n2/uboot-boot.ush
  buildroot-external/board/hardkernel/odroid-n2/uboot.config
Labels: board/odroid, cla-signed

#1349 Enable UART and I2C on J2 header
  buildroot-external/board/hardkernel/patches/linux/0001-arm64-dts-meson-add-RTC-to-ODROID-N2-boards.patch
  buildroot-external/board/hardkernel/patches/linux/0001-arm64-dts-meson-add-i2c3-rtc-nodes-and-rtc-aliases-t.patch
  buildroot-external/board/hardkernel/patches/linux/0002-arm64-dts-meson-add-saradc-node-to-ODROID-N2-N2.patch
  buildroot-external/board/hardkernel/patches/linux/0003-arm64-dts-meson-add-GPIO-line-names-to-ODROID-N2-N2.patch
  buildroot-external/board/hardkernel/patches/linux/0004-arm64-dts-meson-g12b-add-power-button-support.patch
  buildroot-external/board/hardkernel/patches/linux/0005-arm64-dts-meson-g12b-add-GPIO-fan-support.patch
  buildroot-external/board/hardkernel/patches/linux/0006-arm64-dts-meson-g12b-odroid-n2-add-fan-as-cooling-de.patch
  buildroot-external/board/hardkernel/patches/linux/0007-arm64-dts-meson-add-uart_A-node.patch
  buildroot-external/board/hardkernel/patches/linux/0008-arm64-dts-meson-add-i2c2-node-to-ODROID-N2-N2.patch
Labels: board/odroid, cla-signed, kernel
