Repository home-assistant/operating-system, pull requests merged in 2021-01, with the labels that each got.

#1158 Enable memory and CPU hotplugging for virtual machines (#1156)
  buildroot-external/board/intel/ova/kernel.config
  buildroot-external/rootfs-overlay/usr/lib/udev/rules.d/80-hotplug-cpu.rules
Labels: board/ova, cla-signed

#1152 Add r8169 firmware into intel_nuc build (Fixes: #1150)
  buildroot-external/configs/intel_nuc_defconfig
Labels: cla-signed

#1165 Add GPIO power button support for ODROID-N2 (#1161)
  Documentation/boards/hardkernel/odroid-n2.md
  buildroot-external/board/hardkernel/odroid-n2/kernel.config
  buildroot-external/board/hardkernel/patches/linux/0008-arm64-dts-meson-g12b-add-power-button-support.patch
Labels: board/odroid, cla-signed

#1153 Allow setting PREFIX in the build to dictate where to find directories
  .github/workflows/dev.yml
  .github/workflows/release.yml
  Makefile
Labels: cla-signed

#1166 Add GPIO fan support for ODROID-N2 (#1117)
  buildroot-external/board/hardkernel/odroid-n2/kernel.config
  buildroot-external/board/hardkernel/patches/linux/0009-arm64-dts-meson-g12b-add-GPIO-fan-support.patch
  buildroot-external/board/hardkernel/patches/linux/0010-arm64-dts-meson-g12b-odroid-n2-add-fan-as-cooling-de.patch
Labels: board/odroid, cla-signed

#1182 Fix connectivity check updated NM
  buildroot-external/rootfs-overlay/etc/NetworkManager/NetworkManager.conf
Labels: REL-5, cla-signed, os

#1187 RaspberryPi: Update kernel 5.4.83 - 76c49e60e742d0bebd798be972d67dd3fd007691
  Documentation/kernel.md
  buildroot-external/board/raspberrypi/patches/linux/0001-dt-bindings-arm-bcm-Convert-BCM2835-firmware-binding.patch
  buildroot-external/board/raspberrypi/patches/linux/0002-dt-bindings-clock-Add-a-binding-for-the-RPi-Firmware.patch
  buildroot-external/board/raspberrypi/patches/linux/0003-dt-bindings-arm-bcm-Add-a-select-to-the-RPI-Firmware.patch
  buildroot-external/board/raspberrypi/patches/linux/0004-dt-bindings-reset-Add-a-binding-for-the-RPi-Firmware.patch
  buildroot-external/board/raspberrypi/patches/linux/0005-ARM-dts-bcm2711-Add-firmware-usb-reset-node.patch
  buildroot-external/board/raspberrypi/patches/linux/0006-ARM-dts-bcm2711-Add-reset-controller-to-xHCI-node.patch
  buildroot-external/board/raspberrypi/patches/linux/0007-ARM-dts-bcm283x-add-compatible-picked-up-by-U-Boot.patch
  buildroot-external/board/raspberrypi/patches/linux/0007-arch-pgtable-define-MAX_POSSIBLE_PHYSMEM_BITS-where-.patch
  buildroot-external/configs/rpi0_w_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi_defconfig
Labels: REL-5, board/raspberrypi, cla-signed

#1189 Linux: Update kernel 5.4.93
  Documentation/kernel.md
  buildroot-external/configs/intel_nuc_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: REL-5, board/intel-nuc, board/ova, board/tinker, cla-signed

#1190 Disable fsck.fat for boot partition (might help #1125)
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/mnt-boot.mount
Labels: REL-5, cla-signed, os

#1195 Linux: Update kernel 5.4.94
  Documentation/kernel.md
  buildroot-external/configs/intel_nuc_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: REL-5, board/intel-nuc, board/ova, board/tinker, cla-signed
