Repository home-assistant/operating-system, pull requests merged in 2022-02, with the labels that each got.

#1736 Linux: Update kernel 5.10.96
  Documentation/kernel.md
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, kernel, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, REL-7

#1719 network.md doc - added wifi example with caveat
  Documentation/network.md
Labels: cla-signed

#1744 Linux: Update kernel 5.10.98
  Documentation/kernel.md
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, REL-7

#1745 Add Intel WiFi driver fix to avoid crash on Intel NUC systems (#1739)
  buildroot-external/board/pc/patches/linux/0001-iwlwifi-Make-missed-beacon-timeout-configurable.patch
  buildroot-external/board/pc/patches/linux/0002-iwlwifi-fix-use-after-free.patch
Labels: cla-signed, linux, board/generic-x86-64, REL-7

#1742 Add support RTL88x2BU usb wifi dongles
  buildroot-external/Config.in
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/package/rtl88x2bu/0001-allow-arm-i386-external-control.patch
  buildroot-external/package/rtl88x2bu/Config.in
  buildroot-external/package/rtl88x2bu/rtl88x2bu.mk
Labels: cla-signed, board/raspberrypi, board/ova, board/odroid, board/tinker, board/generic-x86-64, run-dev-build, board/khadas

#1757 Add support for AArch64/ARM64 EFI architecture
  .github/workflows/matrix.json
  .github/workflows/release.yml
  Documentation/boards/generic-aarch64/README.md
  buildroot-external/board/arm-uefi/generic-aarch64/cmdline.txt
  buildroot-external/board/arm-uefi/generic-aarch64/grub.cfg
  buildroot-external/board/arm-uefi/generic-aarch64/hassos-hook.sh
  buildroot-external/board/arm-uefi/generic-aarch64/kernel.config
  buildroot-external/board/arm-uefi/generic-aarch64/meta
  buildroot-external/board/pc/ova/hassos-hook.sh
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/rootfs-overlay/usr/libexec/hassos-persists
  buildroot-external/scripts/hdd-image.sh
  buildroot-external/scripts/rauc.sh
Labels: cla-signed, run-dev-build, board/generic-aarch64

#1761 Bump U-Boot to 2022.01
  buildroot-external/board/asus/tinker/patches/uboot/0001-SPL-modify-load-address-of-U-Boot.patch
  buildroot-external/board/asus/tinker/patches/uboot/0002-pmic-enable-LDO2-vcc33_mipi-at-bootup.patch
  buildroot-external/board/hardkernel/patches/uboot/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  buildroot-external/board/raspberrypi/patches/uboot/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/patches/uboot/0002-usb-xhci-reset-endpoint-on-USB-stall.patch
  buildroot-external/board/raspberrypi/patches/uboot/0003-rpi-add-NVMe-to-boot-order.patch
  buildroot-external/board/raspberrypi/patches/uboot/0004-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  buildroot-external/board/raspberrypi/patches/uboot/0005-nvme-improve-readability-of-nvme_setup_prps.patch
  buildroot-external/board/raspberrypi/patches/uboot/0005-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  buildroot-external/board/raspberrypi/patches/uboot/0006-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  buildroot-external/board/raspberrypi/patches/uboot/0007-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  buildroot-external/board/raspberrypi/patches/uboot/0008-nvme-invalidate-correct-memory-range-after-read.patch
  buildroot-external/board/raspberrypi/patches/uboot/0009-drivers-usb-host-Include-header-file-needed-for-dev_.patch
  buildroot-external/board/raspberrypi/patches/uboot/0009-usb-xhci-brcm-Include-header-file-needed-for-dev_err.patch
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
  buildroot-external/patches/uboot/0001-CMD-read-string-from-fileinto-env.patch
Labels: cla-signed, board/raspberrypi, board/odroid, board/tinker, u-boot, board/khadas

#1765 Linux: Update kernel 5.10.102
  Documentation/kernel.md
  buildroot-external/board/pc/patches/linux/0002-iwlwifi-fix-use-after-free.patch
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, REL-7, board/generic-aarch64

#1768 Shutdown HA CLI properly
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/ha-cli@.service
Labels: cla-signed

#1769 Fix migration to GRUB2 for OVA
  buildroot-external/board/pc/ova/hassos-hook.sh
Labels: cla-signed, board/ova, os-update

#1770 Fix GRUB2 update using post-install hook
  buildroot-external/ota/rauc-hook
  buildroot-external/scripts/ota.sh
Labels: cla-signed, board/ova, os-update, board/generic-x86-64
