Repository home-assistant/operating-system, pull requests merged in 2022-01, with the labels that each got.

#1708 Rename Home Assistant Amber to Yellow
  .github/workflows/matrix.json
  buildroot-external/board/raspberrypi/amber/patches/linux/0004-ARM-dts-bcm2711-amber-Enable-I2C6-by-default.patch
  buildroot-external/board/raspberrypi/amber/patches/linux/0007-ARM-dts-bcm2711-amber-add-user-LED.patch
  buildroot-external/board/raspberrypi/amber/patches/linux/0008-ARM-dts-bcm2711-amber-Add-NXP-PCF85063A-RTC.patch
  buildroot-external/board/raspberrypi/yellow/cmdline.txt
  buildroot-external/board/raspberrypi/yellow/config.txt
  buildroot-external/board/raspberrypi/yellow/meta
  buildroot-external/board/raspberrypi/yellow/patches/linux/0001-ARM-dts-bcm2711-Add-device-tree-for-Home-Assistant-Y.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0002-ARM-dts-bcm2711-yellow-Mux-UART4-for-SiLabs-radio-mo.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0003-ARM-dts-bcm2711-yellow-Mux-debug-UART5.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0004-ARM-dts-bcm2711-yellow-Enable-I2C6-by-default.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0005-ARM-dts-bcm2711-yellow-add-I2S-audio-codec.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0006-ARM-dts-bcm2711-yellow-enable-GPIO-keys.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0007-ARM-dts-bcm2711-yellow-add-user-LED.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0008-ARM-dts-bcm2711-yellow-add-NXP-PCF85063A-RTC.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0009-ARM-dts-bcm2711-yellow-enable-USB-host-mode-by-defau.patch
  buildroot-external/board/raspberrypi/yellow/uboot-boot64.ush
  buildroot-external/board/raspberrypi/yellow/uboot.config
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, board/yellow

#1709 Home Assistant Yellow fixes
  buildroot-external/board/raspberrypi/yellow/patches/linux/0001-ARM-dts-bcm2711-Add-device-tree-for-Home-Assistant-Y.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0002-ARM-dts-bcm2711-yellow-Mux-UART4-for-SiLabs-radio-mo.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0003-ARM-dts-bcm2711-yellow-Mux-debug-UART5.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0004-ARM-dts-bcm2711-yellow-Enable-I2C6-by-default.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0005-ARM-dts-bcm2711-yellow-add-I2S-audio-codec.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0006-ARM-dts-bcm2711-yellow-enable-GPIO-keys.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0007-ARM-dts-bcm2711-yellow-add-user-LED.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0008-ARM-dts-bcm2711-yellow-add-NXP-PCF85063A-RTC.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0009-ARM-dts-bcm2711-yellow-enable-USB-host-mode-by-defau.patch
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, board/yellow

#1714 Disable DW-HDMI CEC driver to avoid non-working CEC device file (#1216)
  buildroot-external/board/hardkernel/kernel-amlogic.config
Labels: cla-signed, board/odroid, REL-7

#1715 Add Intel SoC sound drivers (#1690)
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, linux, board/generic-x86-64, REL-7

#1717 Fix HDMI CEC on ODROID-N2(+) (#1216)
  buildroot-external/board/hardkernel/kernel-amlogic.config
Labels: cla-signed, board/odroid

#1718 Remove reference to non-existing patch directory to fix ODROID-C2 build
  buildroot-external/configs/odroid_c2_defconfig
Labels: cla-signed, board/odroid

#1722 Fix reboot on ODROID-N2 (again)
  buildroot-external/board/hardkernel/patches/linux/0001-arm64-dts-meson-add-i2c3-rtc-nodes-and-rtc-aliases-t.patch
  buildroot-external/board/hardkernel/patches/linux/0002-arm64-dts-meson-add-saradc-node-to-ODROID-N2-N2.patch
  buildroot-external/board/hardkernel/patches/linux/0003-arm64-dts-meson-add-GPIO-line-names-to-ODROID-N2-N2.patch
  buildroot-external/board/hardkernel/patches/linux/0004-arm64-dts-meson-g12b-add-power-button-support.patch
  buildroot-external/board/hardkernel/patches/linux/0005-arm64-dts-meson-g12b-add-GPIO-fan-support.patch
  buildroot-external/board/hardkernel/patches/linux/0006-arm64-dts-meson-g12b-odroid-n2-add-fan-as-cooling-de.patch
  buildroot-external/board/hardkernel/patches/linux/0007-arm64-dts-meson-add-uart_A-node.patch
  buildroot-external/board/hardkernel/patches/linux/0008-arm64-dts-meson-add-i2c2-node-to-ODROID-N2-N2.patch
  buildroot-external/board/hardkernel/patches/linux/0009-Revert-of-fdt-Make-sure-no-map-does-not-remove-alrea.patch
  buildroot-external/board/hardkernel/patches/linux/0010-Revert-drm-meson_drv-add-shutdown-function.patch
Labels: cla-signed, board/odroid

#1727 Update issue template with directions to the new locations
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#1683 integrated dual HomeMatic+homematicIP support for HmIP-RFUSB
  buildroot-external/package/generic_raw_uart/generic_raw_uart.hash
  buildroot-external/package/generic_raw_uart/generic_raw_uart.mk
  buildroot-external/rootfs-overlay/usr/lib/udev/rules.d/99-hmip-rfusb.rules
Labels: enhancement, cla-signed, board/raspberrypi, board/ova, board/odroid, board/generic-x86-64, run-dev-build, REL-7
