Repository home-assistant/operating-system, pull requests merged in 2022-06, with the labels that each got.

#1947 chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Labels: cla-signed, build

#1951 Linux: Update kernel 5.15.44
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, kernel, REL-8

#1957 Apply NVMe fixes to all Raspberry Pi boards (#1911)
  buildroot-external/board/raspberrypi/patches/uboot/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/patches/uboot/0002-usb-xhci-reset-endpoint-on-USB-stall.patch
  buildroot-external/board/raspberrypi/patches/uboot/0003-rpi-add-NVMe-to-boot-order.patch
  buildroot-external/board/raspberrypi/patches/uboot/0004-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  buildroot-external/board/raspberrypi/patches/uboot/0005-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  buildroot-external/board/raspberrypi/patches/uboot/0006-nvme-improve-readability-of-nvme_setup_prps.patch
  buildroot-external/board/raspberrypi/patches/uboot/0007-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  buildroot-external/board/raspberrypi/patches/uboot/0008-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
Labels: cla-signed, board/raspberrypi, REL-8

#1967 Linux: Update kernel 5.15.45
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, REL-8

#1968 Increase maximum socket receive and send buffer size (#1964)
  buildroot-external/rootfs-overlay/etc/sysctl.d/20-network.conf
Labels: os, REL-8

#1976 Fix network.md ha cli network wifi example
  Documentation/network.md
Labels: cla-signed

#1985 Set restrictive GitHub Action permissions
  .github/workflows/dev.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Labels: cla-signed, build, REL-8

#1987 Linux: Update kernel 5.15.49
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/generic-x86-64, board/khadas, board/generic-aarch64, REL-8

#1988 Remove key.json file if it appears to be corrupted (#1706)
  buildroot-external/rootfs-overlay/etc/systemd/system/docker.service.d/failure.conf
  buildroot-external/rootfs-overlay/usr/libexec/docker-failure
Labels: cla-signed, os

#1989 Linux: Update kernel 5.15.50
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, board/yellow, board/generic-aarch64

#1991 Use checkonline instead of version for connectivity check
  buildroot-external/rootfs-overlay/etc/NetworkManager/NetworkManager.conf
Labels: cla-signed, REL-8
