Repository home-assistant/operating-system, pull requests merged in 2022-11, with the labels that each got.

#2209 Enable Intel specific CPU idle driver
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, linux, board/generic-x86-64, REL-9

#2210 Add patch to avoid dummy waits on CPU idle for AMD systems
  buildroot-external/board/pc/patches/linux/0001-ACPI-processor-idle-Practically-limit-Dummy-wait-wor.patch
Labels: cla-signed, board/ova, linux, board/generic-x86-64

#2211 Disable Busybox' powertop
  buildroot-external/busybox.config
Labels: cla-signed, os

#2213 Add QEMU Guest Agent to generic_aarch64 target
  buildroot-external/configs/generic_aarch64_defconfig
Labels: cla-signed, board/generic-aarch64

#2214 Add MLX5 support to OVA build
  buildroot-external/board/pc/ova/kernel.config
Labels: cla-signed

#2223 Linux: Update kernel 5.15.77
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64

#2228 Linux: Update kernel 5.15.78
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64

#2229 Disable CONFIG_FW_LOADER_USER_HELPER(/_FALLBACK) (#2222)
  buildroot-external/board/hardkernel/kernel-amlogic.config
  buildroot-external/board/khadas/kernel-vim.config
Labels: cla-signed, board/odroid, board/khadas

#2233 Linux: Update kernel 5.15.79
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64, REL-9

#2234 Bump U-Boot to v2023.01-rc1
  buildroot-external/board/raspberrypi/patches/uboot/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/patches/uboot/0002-rpi-add-NVMe-to-boot-order.patch
  buildroot-external/board/raspberrypi/patches/uboot/0002-usb-xhci-reset-endpoint-on-USB-stall.patch
  buildroot-external/board/raspberrypi/patches/uboot/0003-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  buildroot-external/board/raspberrypi/patches/uboot/0004-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  buildroot-external/board/raspberrypi/patches/uboot/0005-nvme-improve-readability-of-nvme_setup_prps.patch
  buildroot-external/board/raspberrypi/patches/uboot/0006-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  buildroot-external/board/raspberrypi/patches/uboot/0007-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  buildroot-external/board/raspberrypi/rpi4/uboot.config
  buildroot-external/board/raspberrypi/yellow/patches/uboot/0001-drivers-bcm283x-don-t-explicitly-disable-init.patch
  buildroot-external/board/raspberrypi/yellow/patches/uboot/0002-drivers-bcm283x-allow-to-spawn-any-PL011-UART.patch
  buildroot-external/board/raspberrypi/yellow/uboot.config
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, board/raspberrypi, board/odroid, board/tinker, u-boot, board/khadas, board/yellow

#2243 Adding v4l2loopback device
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed

#2246 Decrease network size of Docker default bridge (#2135)
  buildroot-external/rootfs-overlay/etc/docker/daemon.json
Labels: cla-signed, os

#2251 Enable experimental APIs for Bluetooth daemon
  buildroot-external/rootfs-overlay/etc/bluetooth/main.conf
Labels: cla-signed, os, REL-9

#2252 Enable release drafter on dev branch
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: cla-signed, build
