Repository home-assistant/operating-system, pull requests merged in 2022-05, with the labels that each got.

#1881 Fix booting on certain UEFI systems (#1830)
  buildroot-external/patches/grub2/0001-loadenv-add-file_env-to-load-var-from-file.patch
  buildroot-external/patches/grub2/0002-squash4-Fix-an-uninitialized-variable.patch
  buildroot-external/patches/grub2/0003-efidisk-pass-buffers-with-higher-alignment.patch
Labels: cla-signed, board/ova, board/generic-x86-64, board/generic-aarch64

#1890 Linux: Update kernel 5.15.38
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64

#1892 Fix Bluetooth on ASUS Tinker (#1891)
  buildroot-external/board/asus/tinker/kernel.config
  buildroot-external/board/asus/tinker/patches/linux/0001-ARM-DTS-rk3288-tinker-Setup-the-Bluetooth-UART-pins.patch
  buildroot-external/board/asus/tinker/patches/linux/0001-Revert-ARM-dts-rockchip-use-DMA-channels-for-UARTs-f.patch
  buildroot-external/board/asus/tinker/patches/linux/0002-ARM-DTS-rk3288-tinker-Defining-the-SPI-interface.patch
  buildroot-external/board/asus/tinker/patches/linux/0003-ARM-dts-rockchip-enable-I2C1-4-on-rk3288-tinker.patch
  buildroot-external/board/asus/tinker/patches/linux/0004-RK3288-DTSI-rk3288.dtsi-Add-missing-SPI2-pinctrl.patch
  buildroot-external/board/asus/tinker/patches/linux/0005-ARM-DTSI-rk3288-tinker-Improving-the-CPU-max-voltage.patch
  buildroot-external/board/asus/tinker/patches/linux/0006-drivers-mmc-dw-mci-rockchip-Handle-ASUS-Tinkerboard-.patch
  buildroot-external/board/asus/tinker/patches/linux/0007-ARM-dts-rockchip-Add-Bluetooth-to-rk3288-tinker.patch
  buildroot-external/board/asus/tinker/patches/linux/1013-ARM-DTS-rk3288-tinker-Enabling-SDIO-and-Wifi.patch
  buildroot-external/package/bluetooth-rtl8723/bluetooth-rtl8723
  buildroot-external/package/bluetooth-rtl8723/bluetooth-rtl8723.mk
  buildroot-external/package/bluetooth-rtl8723/bluetooth-rtl8723.service
Labels: cla-signed, board/tinker

#1893 Improve GRUB2 boot to also adhere UEFI spec (#1830)
  buildroot-external/patches/grub2/0003-efidisk-pass-buffers-with-higher-alignment.patch
Labels: cla-signed, board/ova, board/generic-x86-64, board/generic-aarch64

#1894 Fix boot issue on Khadas VIM3
  buildroot-external/board/khadas/kernel-vim.config
Labels: cla-signed, board/khadas

#1898 Shutdown immediately on ACPI Power Button events (#1896)
  buildroot-external/board/pc/ova/rootfs-overlay/etc/systemd/logind.conf
  buildroot-external/configs/ova_defconfig
Labels: cla-signed, board/ova

#1906 Add support RTL88x2BU USB WiFi adapters to OVA (#1903)
  buildroot-external/configs/ova_defconfig
Labels: cla-signed, board/ova, REL-8

#1901 Update RPI-RF-MOD/HM-MOD-RPI-PCB/HmIP-RFUSB related packages
  buildroot-external/package/eq3_char_loop/eq3_char_loop.mk
  buildroot-external/package/generic_raw_uart/0001-kernel-Makefile.patch
  buildroot-external/package/generic_raw_uart/generic_raw_uart.hash
  buildroot-external/package/generic_raw_uart/generic_raw_uart.mk
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.hash
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.mk
Labels: cla-signed, os, REL-8

#1904 Update qemu-guest-agent to 7.0.0 for improved agent functionality
  buildroot-external/package/qemu-guest-agent/qemu-guest-agent.hash
  buildroot-external/package/qemu-guest-agent/qemu-guest-agent.mk
Labels: cla-signed, board/ova, REL-8

#1907 Linux: Update kernel 5.15.40
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed

#1927 updated generic_raw_uart package to latest 1.26 version fixing issues with HB-RF-USB-2 and HB-RF-ETH.
  buildroot-external/package/generic_raw_uart/generic_raw_uart.hash
  buildroot-external/package/generic_raw_uart/generic_raw_uart.mk
Labels: cla-signed, REL-8

#1928 Linux: Update kernel 5.15.41
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#1929 Align GRUB2 disk read buffers to block size to fix boot issues (#1912)
  buildroot-external/patches/grub2/0001-loadenv-add-file_env-to-load-var-from-file.patch
  buildroot-external/patches/grub2/0002-squash4-Fix-an-uninitialized-variable.patch
  buildroot-external/patches/grub2/0003-efidisk-pass-buffers-with-higher-alignment.patch
Labels: cla-signed, board/ova, board/generic-x86-64, board/generic-aarch64, REL-8, grub2

#1933 Make NTP dispatch script executable (#1798)
  buildroot-external/rootfs-overlay/usr/lib/NetworkManager/dispatcher.d/10-ntp
Labels: cla-signed, os
