Repository home-assistant/operating-system, pull requests merged in 2022-10, with the labels that each got.

#2145 Add LXD VM Guest Agent Support
  buildroot-external/Config.in
  buildroot-external/board/pc/ova/kernel.config
  buildroot-external/configs/ova_defconfig
  buildroot-external/package/lxd-guest-agent/Config.in
  buildroot-external/package/lxd-guest-agent/lxd-agent-setup
  buildroot-external/package/lxd-guest-agent/lxd-agent.service
  buildroot-external/package/lxd-guest-agent/lxd-guest-agent.mk
  buildroot-external/package/qemu-guest-agent/qemu-guest.service
Labels: cla-signed

#2165 Linux: Update kernel 5.15.71
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: board/ova, board/odroid, board/intel-nuc, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64

#2166 Remove HDMI fix (now part of Linux 5.15.68)
  buildroot-external/board/hardkernel/patches/linux/0008-drm-bridge-display-connector-implement-bus-fmts-call.patch
Labels: board/odroid, REL-9

#2169 Streamline CONFIG_RT_GROUP_SCHED
  buildroot-external/board/hardkernel/kernel-amlogic.config
  buildroot-external/board/khadas/kernel-vim.config
  buildroot-external/kernel/docker.config
Labels: cla-signed, board/odroid, board/khadas, REL-9

#2171 Linux: Update kernel 5.15.72
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64

#2173 Yellow: Support wipeing boot files on NVMe
  buildroot-external/board/raspberrypi/yellow/uboot-boot64.ush
Labels: board/yellow, REL-9

#2175 Update outdated ui references in issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed, hacktoberfest

#2185 Linux: Update kernel 5.15.73
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64

#2192 Replace set-output commands with GITHUB_OUTPUT environment vars
  .github/workflows/dev.yml
  .github/workflows/release.yml
Labels: cla-signed, hacktoberfest

#2191 Linux: Update kernel 5.15.74
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64

#2194 Fix S-ATA on ODROID-HC1 (#2153)
  buildroot-external/board/hardkernel/odroid-xu4/patches/linux/0001-Revert-usb-dwc3-disable-USB-core-PHY-management.patch
Labels: board/odroid, REL-9

#2189 Enable access to 'less' as a busybox applet
  buildroot-external/busybox.config
Labels: cla-signed, hacktoberfest

#2203 Add fq_codel network packet scheduler algorithm by default
  buildroot-external/kernel/hassos.config
Labels: cla-signed, hacktoberfest, os, REL-9

#2204 Linux: Update kernel 5.15.75
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64

#2208 Linux: Update kernel 5.15.76
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/intel-nuc, board/tinker, linux, board/generic-x86-64, board/generic-aarch64, REL-8
