Repository home-assistant/operating-system, pull requests merged in 2023-11, with the labels that each got.

#2813 generic-x86-64: Add missing dependency for #2800 to kernel.config
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, hacktoberfest

#2900 Fix Artifacts index bump when using workflow_call
  .github/workflows/artifacts-index.yaml
Labels: cla-signed, build

#2895 Refresh all boards' defconfigs
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed

#2899 Add pruning of object file cache
  .github/workflows/build.yaml
Labels: cla-signed, build

#2901 Upload artifacts index even on partial builds
  .github/workflows/artifacts-index.yaml
  .github/workflows/build.yaml
Labels: cla-signed, build

#2903 Linux: Update kernel 6.1.61
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/intel-nuc, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2904 RaspberryPi: Update kernel 6.1.58 - stable_20231030
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, board/raspberrypi, linux, board/yellow

#2905 Revert "Upload artifacts index even on partial builds (#2901)"
  .github/workflows/artifacts-index.yaml
  .github/workflows/build.yaml
Labels: cla-signed, build

#2906 Improve Bluetooth cache cleanup command
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/haos-bt-cache.service
Labels: cla-signed, os

#2908 Fix incorrect uppercase Y kconfig use
  buildroot-external/bootloader/uboot.config
  buildroot-external/kernel/hassos.config
Labels: cla-signed

#2910 Generic AArch64: Enable options required for virtiofs (#2909)
  buildroot-external/board/arm-uefi/generic-aarch64/kernel.config
Labels: cla-signed, board/generic-aarch64

#2912 Use kernel local version for HAOS compiled Linux kernel
  buildroot-external/board/raspberrypi/kernel.config
  buildroot-external/kernel/hassos.config
Labels: cla-signed, os

#2917 Linux: Update kernel 6.1.62
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2924 fix: disable uas for wavlink adaptor
  buildroot-external/board/raspberrypi/cmdline.txt
Labels: cla-signed

#2931 Fix miniUART on Yellow with kernel HCI init enabled
  buildroot-external/board/raspberrypi/yellow/patches/linux/0014-ARM-dts-bcm2711-yellow-Use-mini-UART-for-Bluetooth-b.patch
Labels: cla-signed, linux, board/yellow

#2937 Linux: Update kernel 6.1.63
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/intel-nuc, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2921 Bump rpi-rf-mod dt overlay to latest version
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.hash
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.mk
Labels: cla-signed, REL-11

#2943 Generate self-signed certificates for development
  .github/workflows/build.yaml
  buildroot-external/scripts/post-build.sh
  buildroot-external/scripts/rauc.sh
Labels: cla-signed, build, os-update

#2948 Remove kernel HCI driver if no WiFi/Bluetooth module present (#2944)
  buildroot-external/package/pi-bluetooth/hcidisable.service
  buildroot-external/package/pi-bluetooth/pi-bluetooth.mk
Labels: cla-signed, board/yellow

#2951 Enable more WiFi drivers for all platforms
  buildroot-external/board/pc/generic-x86-64/kernel.config
  buildroot-external/board/pc/ova/kernel.config
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
  buildroot-external/kernel/device-support-wireless-pci.config
  buildroot-external/kernel/device-support-wireless.config
  buildroot-external/kernel/device-support.config
  buildroot-external/kernel/hassos.config
Labels: cla-signed, board/raspberrypi, board/ova, board/odroid, board/intel-nuc, board/tinker, linux, board/generic-x86-64, board/khadas, board/yellow, board/generic-aarch64

#2955 Fix RAUC certificate check
  .github/workflows/build.yaml
Labels: cla-signed, os-update
