Repository home-assistant/operating-system, pull requests merged in 2023-04, with the labels that each got.

#2446 Add support for NFS and SMB/CIFS network file systems
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, os, rel-10

#2450 Use UTF-8 as default native language support (NLS)
  buildroot-external/kernel/hassos.config
Labels: cla-signed, os

#2453 Linux: Update kernel 6.1.23
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2458 Bump U-Boot for ODROID-M1 to 2023.04
  buildroot-external/configs/odroid_m1_defconfig
Labels: cla-signed, board/odroid, rel-10

#2460 Document eMMC boot for ODROID-M1
  Documentation/boards/hardkernel/odroid-m1.md
Labels: cla-signed, Documentation, board/odroid

#2461 Remove RPI-RF-MOD/HM-MOD-RPI-PCB hat overlays for Yellow (#2408)
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, board/yellow, rel-10

#2464 Add label action for frontend issues
  .github/label-actions.yml
Labels: cla-signed

#2465 Add firmware for Realtek RTL8152/RTL8153 USB Ethernet Adapters (#2456)
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: os, rel-10

#2466 Add Broadcom NetXtreme/Tigon3 firmware (#2413)
  buildroot-external/configs/generic_x86_64_defconfig
Labels: cla-signed, os, board/generic-x86-64, rel-10

#2467 Fix build without device tree overlays
  buildroot-external/board/raspberrypi/hassos-hook.sh
Labels: cla-signed, board/yellow

#2469 Linux: Update kernel 6.1.24
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2470 Enable Broadcom Ethernet PHYs support (#2413)
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, linux, board/generic-x86-64, rel-10

#2474 typo fix
  Documentation/boards/hardkernel/odroid-m1.md
Labels: cla-signed

#2491 Enable HDMI on Khadas VIM3
  buildroot-external/board/khadas/kernel-vim.config
Labels: cla-signed, linux, board/khadas, rel-10

#2493 Fix NVMe SSD boot for Raspberry Pi 4/CM4 (#2479)
  buildroot-external/board/raspberrypi/uboot.config
  buildroot-external/board/raspberrypi/yellow/uboot.config
Labels: cla-signed, board/raspberrypi, u-boot, rel-10

#2495 Linux: Update kernel 6.1.25
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/generic-aarch64, rel-10

#2503 Fix startup by using BindTo and After (#2496)
  buildroot-external/package/qemu-guest-agent/qemu-guest.service
Labels: cla-signed, board/ova, os, hypervisor/proxmox, hypervisor/kvm, rel-10

#2505 Fix boot on Raspberry Pi 4 32-bit (#2500)
  buildroot-external/board/raspberrypi/patches/uboot/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/patches/uboot/0002-rpi-add-NVMe-to-boot-order.patch
  buildroot-external/board/raspberrypi/patches/uboot/0003-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  buildroot-external/board/raspberrypi/patches/uboot/0004-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  buildroot-external/board/raspberrypi/patches/uboot/0005-nvme-improve-readability-of-nvme_setup_prps.patch
  buildroot-external/board/raspberrypi/patches/uboot/0006-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  buildroot-external/board/raspberrypi/patches/uboot/0007-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  buildroot-external/board/raspberrypi/patches/uboot/0008-Revert-pci-Check-region-ranges-are-addressable.patch
Labels: cla-signed, board/raspberrypi, u-boot, rel-10

#2508 Enable Gasket driver for Google Coral support on ODROID-M1 (#2504)
  buildroot-external/configs/odroid_m1_defconfig
Labels: cla-signed, board/odroid, os, rel-10

#2471 Documentation: Update and add URLs
  Documentation/boards/README.md
  Documentation/network.md
Labels: cla-signed, Documentation
