Repository home-assistant/operating-system, pull requests merged in 2023-02, with the labels that each got.

#2339 Linux: Update kernel 5.15.91
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, REL-9

#2343 Linux: Update kernel 5.15.92
  Documentation/kernel.md
  buildroot-external/board/pc/patches/linux/0001-ACPI-processor-idle-Practically-limit-Dummy-wait-wor.patch
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, REL-9

#2351 Linux: Update kernel 5.15.93
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, REL-9

#2355 Bump U-Boot to v2023.01 for ODROID/Tinker/VIM3
  buildroot-external/board/hardkernel/odroid-xu4/patches/uboot/0001-samsung-common-ignore-if-CROS-EC-is-not-supported.patch
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/odroid, board/tinker, u-boot, board/khadas

#2356 Linux: Update kernel 5.15.94
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, REL-9

#2360 Fix rtl8821cu build for Linux 5.15
  buildroot-external/package/rtl8821cu/rtl8821cu.mk
Labels: cla-signed, os

#2345 Revert NetworkManager bridge support
  buildroot-external/rootfs-overlay/etc/NetworkManager/NetworkManager.conf
Labels: cla-signed, os

#2368 updated generic-raw-uart and rpi-rf-mod package for kernel 6.1 compatibility
  buildroot-external/package/eq3_char_loop/eq3_char_loop.hash
  buildroot-external/package/generic_raw_uart/generic_raw_uart.hash
  buildroot-external/package/generic_raw_uart/generic_raw_uart.mk
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.hash
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.mk
Labels: cla-signed

#2372 Linux: Update kernel 6.1.14
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2369 Enable CONFIG_UHID for generic x86-64 based installs
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed

#2373 Linux: Update kernel 6.1.13 for Raspberry Pi systems
  Documentation/kernel.md
  buildroot-external/board/raspberrypi/patches/linux/0001-ARM-dts-bcm283x-add-compatible-picked-up-by-U-Boot.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0001-ARM-dts-bcm2711-Add-device-tree-for-Home-Assistant-Y.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0002-ARM-dts-bcm2711-yellow-Mux-UART4-for-SiLabs-radio-mo.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0003-ARM-dts-bcm2711-yellow-Mux-debug-UART5.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0004-ARM-dts-bcm2711-yellow-Enable-I2C6-by-default.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0005-ARM-dts-bcm2711-yellow-add-I2S-audio-codec.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0006-ARM-dts-bcm2711-yellow-enable-GPIO-keys.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0007-ARM-dts-bcm2711-yellow-add-user-LED.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0008-ARM-dts-bcm2711-yellow-add-NXP-PCF85063A-RTC.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0009-ARM-dts-bcm2711-yellow-enable-USB-host-mode-by-defau.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0010-ARM-dts-bcm2711-yellow-use-generic-activity-trigger-.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0011-ARM-dts-bcm2711-yellow-use-USB-OTG-mode-by-default.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0012-ARM-dts-bcm2711-yellow-Add-LED-overrides.patch
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, board/raspberrypi, linux, board/yellow

#2225 Symlink firmware update directory to Supervisor writeable location
  buildroot-external/rootfs-overlay/usr/lib/firmware/updates
Labels: cla-signed
