Repository home-assistant/operating-system, pull requests merged in 2023-10, with the labels that each got.

#2779 Add action job to upload artifacts to R2
  .github/workflows/build.yaml
Labels: cla-signed, build

#2781 Add fsfreeze support for QEMU/KVM/Proxmox installations
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/qemu-guest.service.d/haos.conf
  buildroot-external/rootfs-overlay/usr/libexec/haos-freeze-hook
Labels: cla-signed, board/ova

#2786 RAUC update: Use verity bundle format
  buildroot-external/ota/manifest.raucm.gtpl
Labels: cla-signed, hacktoberfest, os-update

#2787 Fix fsfreeze support on OVA
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/qemu-guest.service.d/haos.conf
Labels: cla-signed, board/ova, hacktoberfest

#2790 Improve grammar in README.md
  README.md
Labels: cla-signed, hacktoberfest

#2791 Set containerd root explicitly (#2476)
  buildroot-external/rootfs-overlay/etc/containerd/config.toml
Labels: cla-signed, hacktoberfest, os

#2792 Prepare 11.0.rc1
  buildroot-external/meta
Labels: cla-signed, hacktoberfest

#2798 Linux: Update kernel 6.1.56
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2799 Revert "RAUC update: Use verity bundle format (#2786)"
  buildroot-external/ota/manifest.raucm.gtpl
Labels: cla-signed, hacktoberfest, os-update

#2800 generic-x86-64: Add support for external i2c devices
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, hacktoberfest, board/generic-x86-64

#2801 generic-x86-64: Fix typo in kernel.config
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, hacktoberfest, board/generic-x86-64

#2802 Drop uploading to the old development build server
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest

#2803 Prepare 11.0.rc2
  buildroot-external/meta
Labels: cla-signed, hacktoberfest

#2808 Prepare 11.0
  buildroot-external/meta
Labels: cla-signed, hacktoberfest, os

#2807 Linux: Update kernel 6.1.57
  Documentation/kernel.md
  buildroot-external/board/raspberrypi/patches/linux/0001-Bluetooth-hci_sync-Fix-handling-of-HCI_QUIRK_STRICT_.patch
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2811 Use Docker 24 during build time
  buildroot-external/package/hassio/create-data-partition.sh
Labels: cla-signed, hacktoberfest, os, build

#2828 Add Home Assistant Green to GitHub infrastructure
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/release-drafter.yml
Labels: cla-signed, hacktoberfest, build

#2829 Linux: Update kernel 6.1.58
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2812 Create foundation for Labgrid-based OS tests
  .github/workflows/build.yaml
  .github/workflows/test.yaml
  .gitignore
  tests/.gitignore
  tests/conftest.py
  tests/qemu-strategy.yaml
  tests/qemu_shell_strategy.py
  tests/requirements.txt
  tests/run_tests.sh
  tests/smoke_test/test_basic.py
Labels: cla-signed, hacktoberfest, build

#2836 Fix test action by checking out source first
  .github/workflows/test.yaml
Labels: cla-signed, hacktoberfest, build

#2837 Fix path to test results in processing steps
  .github/workflows/test.yaml
Labels: cla-signed, hacktoberfest, build

#2842 Fix extraction of OVA image artifact in test step
  .github/workflows/test.yaml
Labels: cla-signed, hacktoberfest, build

#2845 Fix IPv6 routing failover for Thread (#2434)
  buildroot-external/patches/linux/0001-ipv6-add-option-to-explicitly-enable-reachability-te.patch
Labels: cla-signed, hacktoberfest, os

#2846 Bump qemu-guest-agent to 8.0.5
  buildroot-external/package/qemu-guest-agent/qemu-guest-agent.hash
  buildroot-external/package/qemu-guest-agent/qemu-guest-agent.mk
Labels: cla-signed, hacktoberfest, REL-11

#2847 bump generic_raw_uart to 1.30
  buildroot-external/package/generic_raw_uart/0001-kernel-Makefile.patch
  buildroot-external/package/generic_raw_uart/generic_raw_uart.hash
  buildroot-external/package/generic_raw_uart/generic_raw_uart.mk
Labels: cla-signed, hacktoberfest, REL-11

#2849 Linux: Update kernel 6.1.59
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/intel-nuc, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2855 Use alternative environment for release build bump
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2856 ODROID-M1: Fix environment read from SD card (#2822)
  buildroot-external/board/hardkernel/odroid-m1/uboot-boot.ush
Labels: cla-signed, board/odroid, hacktoberfest

#2861 Add action for bumping OS version for RPi imager
  .github/actions/bump-rpi-imager-version/action.yml
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2839 Maintain and upload artifacts index
  .github/workflows/build.yaml
  .os-artifacts/index.html
  README.md
Labels: cla-signed, hacktoberfest

#2867 Linux: Update kernel 6.1.60
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, hacktoberfest, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2868 Fix GitHub action build.yaml
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2864 RaspberryPi: Update kernel 6.1.58 - stable_20231024
  Documentation/kernel.md
  buildroot-external/board/raspberrypi/patches/linux/0001-Bluetooth-hci_sync-Fix-handling-of-HCI_QUIRK_STRICT_.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0001-ARM-dts-bcm2711-Add-device-tree-for-Home-Assistant-Y.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0002-ARM-dts-bcm2711-yellow-Mux-UART4-for-SiLabs-radio-mo.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0003-ARM-dts-bcm2711-yellow-Mux-debug-UART5.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0004-ARM-dts-bcm2711-yellow-Enable-I2C6-by-default.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0005-ARM-dts-bcm2711-yellow-add-I2S-audio-codec.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0006-ARM-dts-bcm2711-yellow-enable-GPIO-keys.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0007-ARM-dts-bcm2711-yellow-add-user-LED.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0008-ARM-dts-bcm2711-yellow-add-NXP-PCF85063A-RTC.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0009-ARM-dts-bcm2711-yellow-enable-USB-host-mode-by-defau.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0010-ARM-dts-bcm2711-yellow-use-generic-activity-trigger-.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0011-ARM-dts-bcm2711-yellow-use-USB-OTG-mode-by-default.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0012-ARM-dts-bcm2711-yellow-Add-LED-overrides.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0013-ARM-dts-bcm2711-yellow-use-serial-alias-to-enumerate.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0013-Revert-amba_pl011-Don-t-use-DT-aliases-for-numbering.patch
  buildroot-external/board/raspberrypi/yellow/patches/linux/0014-ARM-dts-bcm2711-yellow-Use-mini-UART-for-Bluetooth-b.patch
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, board/raspberrypi, hacktoberfest, linux, board/yellow

#2872 Optimize build cache for dev builds
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2873 Install AWS CLI tools in final build step
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2874 Print object cache statistics before upload
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2881 Use the correct secret to clear cache on the Cloudflare frontend
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2882 Run tests within build workflow
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: cla-signed, hacktoberfest, build

#2880 Add test suite for Supervisor tests
  .github/workflows/test.yaml
  tests/conftest.py
  tests/qemu_shell_strategy.py
  tests/requirements.txt
  tests/run_tests.sh
  tests/smoke_test/test_basic.py
  tests/supervisor_test/test_supervisor.py
Labels: cla-signed, hacktoberfest, build

#2884 Always use environment for bump_version job
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2885 Bump HAOS beta when stable version is released
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2887 Add a flag to determine tests were called from another workflow
  .github/workflows/test.yaml
Labels: cla-signed, hacktoberfest, build

#2888 Separate artifacts index update into separate workflow
  .github/workflows/artifacts-index.yaml
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build

#2891 Fix the condition for OS artifact download
  .github/workflows/test.yaml
Labels: cla-signed, hacktoberfest, build

#2892 Checkout source code when uploading artifacts index
  .github/workflows/artifacts-index.yaml
Labels: cla-signed, hacktoberfest, build

#2890 Improve handling of timeouts in tests
  tests/conftest.py
  tests/pytest.ini
  tests/qemu-strategy.yaml
  tests/qemu_shell_strategy.py
  tests/requirements.txt
  tests/smoke_test/test_basic.py
  tests/supervisor_test/test_supervisor.py
Labels: cla-signed, hacktoberfest, build

#2893 Pass secrets to artifacts index generation workflow
  .github/workflows/artifacts-index.yaml
  .github/workflows/build.yaml
Labels: cla-signed, hacktoberfest, build
