Repository home-assistant/operating-system, pull requests merged in 2023-06, with the labels that each got.

#2571 Yellow: Always use mini-UART for Bluetooth
  buildroot-external/board/raspberrypi/yellow/config.txt
  buildroot-external/board/raspberrypi/yellow/patches/linux/0015-ARM-dts-bcm2711-yellow-Use-mini-UART-for-Bluetooth-b.patch
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/udev/rules.d/99-com.rules
  buildroot-external/configs/yellow_defconfig
  buildroot-external/ota/rauc-hook
Labels: cla-signed, board/yellow

#2565 Add Yellow-specific rpi-rf-mod dts support
  buildroot-external/configs/yellow_defconfig
  buildroot-external/package/rpi-rf-mod/Config.in
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.hash
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.mk
Labels: cla-signed, run-dev-build, board/yellow, rel-10

#2569 Linux: Update kernel 6.1.31
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64

#2567 Add support for RTL8723BS SDIO WiFi modules
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, board/generic-x86-64

#2575 Remove rng-tools/rngd since it is not required with kernel 5.15+
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, os, rel-10

#2576 Linux: Update kernel 6.1.32
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2582 Make sure rpcbind gets started after systemd-tmpfiles is ready
  buildroot-external/rootfs-overlay/etc/systemd/system/rpcbind.service.d/haos.conf
Labels: cla-signed, os, rel-10

#2583 Start OS Agent only when boot partition is mounted
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/haos-agent.service.d/haos.conf
Labels: cla-signed, os, board/yellow, rel-10

#2584 Linux: Update kernel 6.1.33
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2593 Add support for Intel GMAC Ethernet controller (#2589)
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, board/generic-x86-64, rel-10

#2594 Avoid waiting for time synchronization too early
  buildroot-external/rootfs-overlay/etc/systemd/system/systemd-time-wait-sync.service.d/network-online.conf
Labels: cla-signed, os, rel-10

#2596 Linux: Update kernel 6.1.34
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2598 Add patch to fix Bluetooth LE advertisement stall (#2535)
  buildroot-external/patches/linux/0001-Revert-Bluetooth-Rework-le_scan_restart-for-hci_sync.patch
Labels: cla-signed, os, bluetooth, rel-10

#2608 Linux: Update kernel 6.1.35
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2609 Enable Realtek 802.11ac wireless chips support (#2600)
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, board/generic-x86-64, rel-10

#2614 Enable Intel Core/Core2/Atom temperature sensor (#2613)
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, board/generic-x86-64, rel-10

#2615 Add config options to enable 32-bit ARMv7 instruction support on ODROID-M1
  buildroot-external/board/hardkernel/kernel-rockchip.config
Labels: cla-signed, board/odroid
