Repository home-assistant/operating-system, pull requests merged in 2023-07, with the labels that each got.

#2621 Linux: Update kernel 6.1.36
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2622 Add kernel configurations for RAUC verity format
  buildroot-external/kernel/hassos.config
Labels: cla-signed, os, rel-10

#2623 Enable UHID to support Bluetooth input devices
  buildroot-external/kernel/hassos.config
Labels: cla-signed, os

#2626 Linux: Update kernel 6.1.37
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2627 Add support for (emulated) i6300ESB watchdog
  buildroot-external/board/pc/ova/kernel.config
Labels: cla-signed, board/ova

#2628 Enable watchdog control in systemd
  buildroot-external/rootfs-overlay/usr/lib/systemd/system.conf.d/watchdog.conf
Labels: cla-signed, os

#2629 Add support for iTCO and IT87 watchdogs on x86_64
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, board/generic-x86-64

#2631 Add Rockchip RK3568 hardware number generator support (#2578)
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0001-arm64-dts-rockchip-Add-Hardkernel-ODROID-M1-board.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0002-arm64-dts-rockchip-add-thermal-support-to-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0003-arm64-dts-rockchip-Add-NOR-flash-to-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0004-arm64-dts-rockchip-Add-analog-audio-on-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0005-arm64-dts-rockchip-Enable-vop2-and-hdmi-tx-on-ODROID.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0006-arm64-dts-rockchip-Enable-HDMI-audio-on-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0007-arm64-dts-rockchip-Enable-the-GPU-on-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0008-arm64-dts-rockchip-Enable-the-USB-2.0-ports-on-ODROI.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0009-arm64-dts-rockchip-Enable-the-USB-3.0-ports-on-ODROI.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0010-arm64-dts-rockchip-Add-SATA-support-to-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0011-arm64-dts-rockchip-Add-PCIEe-v3-nodes-to-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0012-arm64-dts-rockchip-Add-IR-receiver-node-to-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0013-hwrng-add-Rockchip-SoC-hwrng-driver.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0014-arm64-dts-rockchip-add-DT-entry-for-RNG-to-RK356x.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/linux/0015-dt-bindings-RNG-Add-Rockchip-RNG-bindings.patch
Labels: cla-signed, board/odroid, linux

#2632 Improve service ordering for udisks2.service
  buildroot-external/rootfs-overlay/etc/systemd/system/udisks2.service.d/haos.conf
Labels: cla-signed, os

#2634 Linux: Update kernel 6.1.38
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2637 ova: add support for various ethernet adapters
  buildroot-external/board/pc/generic-x86-64/kernel.config
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/kernel/device-support-pcie.config
Labels: cla-signed, board/ova

#2638 Use hosted GitHub Action runners
  .github/workflows/dev.yml
  .github/workflows/matrix.json
  .github/workflows/release.yml
  Makefile
Labels: cla-signed, build

#2641 Close rejected issus as "not planned"
  .github/label-actions.yml
Labels: cla-signed, build

#2643 Bump U-Boot for ODROID-M1 to 2023.07.02
  buildroot-external/board/hardkernel/odroid-m1/patches/uboot/0001-ata-dwc_ahci-Fix-support-for-other-platforms.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/uboot/0002-board-rockchip-Add-Hardkernel-ODROID-M1.patch
  buildroot-external/configs/odroid_m1_defconfig
Labels: cla-signed, board/odroid, u-boot

#2649 Linux: Update kernel 6.1.39
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, rel-10

#2651 Allow dev builds in forks
  .github/workflows/dev.yml
Labels: cla-signed, build

#2659 Including the RTW8821ce driver module to support Wifi on the AK1 PRO micro PC
  buildroot-external/board/pc/generic-x86-64/kernel.config
  buildroot-external/configs/generic_x86_64_defconfig
Labels: cla-signed, board/generic-x86-64

#2660 Linux: Update kernel 6.1.42
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64
