Repository home-assistant/operating-system, pull requests merged in 2023-12, with the labels that each got.

#2960 Linux: Update kernel 6.1.65
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#2962 Backport support for Netgear AXE3000/A8000 and Comfast CF-952AX
  buildroot-external/patches/linux/0005-wifi-mt76-mt7921u-backport-Comfast-CF-952AX-and-Netg.patch
Labels: cla-signed, board/raspberrypi, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/yellow, board/generic-aarch64, board/green

#2965 Add image size check to hdd-image.sh
  buildroot-external/scripts/hdd-image.sh
Labels: cla-signed, build

#2979 Linux: Update kernel 6.1.66
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#2984 Linux: Update kernel 6.1.67
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#2985 Add Raspberry Pi 5 to GitHub Action
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/matrix.json
Labels: cla-signed, board/raspberrypi, build

#2986 Remove Raspberry Pi 1/Zero from docs
  Documentation/boards/README.md
  Documentation/boards/raspberrypi/README.md
Labels: cla-signed, board/raspberrypi, Documentation

#2990 Add build summary for each board build
  .github/workflows/build.yaml
Labels: cla-signed, build

#2991 Linux: Update kernel 6.1.68
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3000 Enable WPA3 support in wpa_supplicant to support WPA3-SAE
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi5_64_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, os

#3006 Add script for checking resulting kernel config
  .github/workflows/build.yaml
  buildroot-external/external.mk
  buildroot-external/scripts/check-dotconfig.py
  buildroot-external/scripts/kconfiglib.py
Labels: cla-signed, build

#3005 Enable driver for Realtek card readers
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, linux, board/generic-x86-64

#3009 Linux: Update kernel 6.1.69
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3015 Generate self-signed certificate in the prepare step and archive it
  .github/workflows/build.yaml
  buildroot-external/scripts/generate-signing-key.sh
  buildroot-external/scripts/rauc.sh
Labels: cla-signed, build

#3011 Remove duplicated step uploading ova QEMU image for the test job
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: cla-signed

#3012 Set Raspberry Pi 2 Supervisor architecture correctly
  buildroot-external/board/raspberrypi/rpi2/meta
Labels: cla-signed
