Repository home-assistant/operating-system, pull requests merged in 2024-11, with the labels that each got.

#3642 Add kernel config to support external i2c devices
  buildroot-external/board/pc/ova/kernel.config
Labels: cla-signed, hacktoberfest

#3657 Linux: Update kernel to 6.6.59
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3665 Fall back to max eMMC clock to fix Kingston eMMC compat with ODROID-N2
  buildroot-external/board/hardkernel/patches/uboot/0001-HACK-mmc-meson-gx-limit-f_max-to-24-MHz-on-the-first.patch
  buildroot-external/board/hardkernel/patches/uboot/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
Labels: cla-signed, board/odroid, u-boot

#3666 Linux: Update kernel to 6.6.60
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3667 Add initial support for Raspberry Pi CM5 on Yellow
  buildroot-external/board/raspberrypi/patches/uboot/2024.01/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.01/0002-rpi-add-NVMe-to-boot-order.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.01/0003-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.01/0004-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.01/0005-nvme-improve-readability-of-nvme_setup_prps.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.01/0006-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.01/0007-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.01/0008-Revert-pci-Check-region-ranges-are-addressable.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0001-rpi-add-NVMe-to-boot-order.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0002-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0003-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0004-nvme-improve-readability-of-nvme_setup_prps.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0005-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0006-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0007-Revert-pci-Check-region-ranges-are-addressable.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0008-reset-reset-brcmstb-Add-Broadcom-STB-reset-controlle.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0009-reset-reset-brcmstb-rescal-Add-Broadcom-RESCAL-reset.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0010-pci-pcie-brcmstb-Add-basic-support-for-BCM2712-PCIe.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0011-ARM-bcm2835-add-BCM2712-config-option.patch
  buildroot-external/board/raspberrypi/patches/uboot/2024.10/0012-pci-pcie-brcmstb-HACK-add-DT-property-for-skipping-d.patch
  buildroot-external/board/raspberrypi/yellow/config.txt
  buildroot-external/board/raspberrypi/yellow/patches/linux/0016-ARM-dts-bcm2712-Add-device-tree-for-CM5-on-HA-Yellow.patch
  buildroot-external/board/raspberrypi/yellow/uboot.config
  buildroot-external/configs/yellow_defconfig
  buildroot-external/ota/rauc-hook
  buildroot-external/patches/uboot/0001-CMD-read-string-from-fileinto-env.patch
Labels: cla-signed, board/yellow

#3671 Fix Yellow's post-install hook for config.txt migration
  buildroot-external/ota/manifest.raucm.gtpl
  buildroot-external/ota/rauc-hook
Labels: cla-signed, board/yellow

#3672 Remove unnecessary kernel post-install hook for GRUB-based targets
  buildroot-external/ota/manifest.raucm.gtpl
Labels: cla-signed, os

#3678 Merge Yellow's RAUC post-install hook with the install hook
  buildroot-external/ota/manifest.raucm.gtpl
  buildroot-external/ota/rauc-hook
Labels: cla-signed, board/yellow

#3679 Linux: Update kernel to 6.6.62
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3680 Add Hailo-8 firmware for Raspberry Pi AI Kit/HAT on RPi 5
  buildroot-external/Config.in
  buildroot-external/configs/rpi5_64_defconfig
  buildroot-external/package/hailo8-firmware/Config.in
  buildroot-external/package/hailo8-firmware/hailo8-firmware.hash
  buildroot-external/package/hailo8-firmware/hailo8-firmware.mk
Labels: cla-signed, board/raspberrypi

#3687 Disable UAS via usb-storage.quirks on RPi for JMicron JMS583
  buildroot-external/board/raspberrypi/cmdline.txt
Labels: cla-signed, board/raspberrypi, usb-ssd

#3686 Always use NVMe datadisk on Yellow if it's present on first boot
  buildroot-external/rootfs-overlay/usr/libexec/haos-data-disk-detach
Labels: cla-signed, board/yellow

#3688 Sync Yellow's DTS with plain CM5 device tree
  buildroot-external/board/raspberrypi/yellow/patches/linux/0017-ARM-dts-bcm2712-yellow-Sync-sdio1-and-sd_io_1v8_reg-.patch
Labels: cla-signed, board/yellow

#3693 Enable Cypress M8 USB serial driver for all targets
  buildroot-external/kernel/v6.6.y/device-support.config
  buildroot-external/kernel/v6.6.y/kernel-arm64-rockchip.config
Labels: cla-signed, os, linux
