Repository home-assistant/operating-system, pull requests merged in 2024-01, with the labels that each got.

#3027 Enable IP policy routing options (#3026)
  buildroot-external/kernel/hassos.config
Labels: cla-signed

#3029 Linux: Update kernel 6.1.70
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3030 Suppress action-shellcheck warning from deprecated option
  .github/workflows/pr-checks.yml
Labels: cla-signed, build

#3037 Remove rootfstype for Raspberry Pi 5
  buildroot-external/ota/rauc-hook
Labels: board/raspberrypi

#3046 Linux: Update kernel 6.1.71
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3043 Add rtw89 firmware option missing in #3003
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi5_64_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, board/raspberrypi, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/yellow, board/generic-aarch64, board/green

#3051 Revert kernel patch causing failures on CIFS share disk usage
  buildroot-external/patches/linux/6.1.71/0001-Revert-smb-client-fix-OOB-in-SMB2_query_info_init.patch
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3064 Linux: Update kernel 6.1.72
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/patches/linux/6.1.71/0001-Revert-smb-client-fix-OOB-in-SMB2_query_info_init.patch
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3071 Fix github build workflow when using self_signed_certs
  .github/workflows/build.yaml
Labels: cla-signed

#3085 Fix path to cmdline after successful RPi 5 tryboot
  buildroot-external/board/raspberrypi/rpi5-64/rootfs-overlay/usr/lib/rauc/rpi-tryboot.sh
Labels: cla-signed, board/raspberrypi, os-update

#3083 Linux: Update kernel 6.1.73
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3090 Dockerfile: migrate to trusted.gpg.d for docker repo keys
  Dockerfile
Labels: cla-signed

#3091 Fix build_haos_builder step to fetch the correct version
  .github/workflows/build.yaml
Labels: cla-signed

#3093 Linux: Update kernel 6.1.74
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3098 Fix ARCH/SRCARCH for aarch64 in linux-check-dotconfig
  buildroot-external/external.mk
Labels: cla-signed

#3100 Enable PCIe for Khadas VIM3 (#3092)
  buildroot-external/board/khadas/kernel-vim.config
Labels: cla-signed, board/khadas

#3099 add missing ARMv8 32bit kernel support configs
  buildroot-external/board/arm-uefi/generic-aarch64/kernel.config
Labels: cla-signed, board/generic-aarch64

#3096 Bump U-Boot to 2024.01
  buildroot-external/board/asus/tinker/patches/uboot/0001-SPL-modify-load-address-of-U-Boot.patch
  buildroot-external/board/asus/tinker/patches/uboot/0002-pmic-enable-LDO2-vcc33_mipi-at-bootup.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/uboot/0001-ata-dwc_ahci-Fix-support-for-other-platforms.patch
  buildroot-external/board/hardkernel/odroid-m1/patches/uboot/0002-board-rockchip-Add-Hardkernel-ODROID-M1.patch
  buildroot-external/board/hardkernel/odroid-xu4/patches/uboot/0001-samsung-common-ignore-if-CROS-EC-is-not-supported.patch
  buildroot-external/board/hardkernel/patches/uboot/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0001-arch-arm-dts-Add-NabuCasa-Green-board.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0002-configs-green-Support-USB-boot.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0003-arch-arm-dts-rk3566-green-boot-order.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0004-arch-arm-dts-green-spi-nor-uboot.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0005-board-green-add-Green-board-to-read-board-specific-E.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0006-green-spl-loader-uboot-order-sd-emmc-spi_nor.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0007-green-Fix-SPI-Flash-alias.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0007-rockchip-rk3568-rock-3a-Fix-SPI-Flash-alias.patch
  buildroot-external/board/nabucasa/green/patches/uboot/0008-arch-arm-dts-green-drop-SPI-NOR-flash-partitions.patch
  buildroot-external/board/raspberrypi/patches/uboot/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/raspberrypi/patches/uboot/0002-rpi-add-NVMe-to-boot-order.patch
  buildroot-external/board/raspberrypi/patches/uboot/0003-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  buildroot-external/board/raspberrypi/patches/uboot/0004-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  buildroot-external/board/raspberrypi/patches/uboot/0005-nvme-improve-readability-of-nvme_setup_prps.patch
  buildroot-external/board/raspberrypi/patches/uboot/0006-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  buildroot-external/board/raspberrypi/patches/uboot/0007-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  buildroot-external/board/raspberrypi/patches/uboot/0008-Revert-pci-Check-region-ranges-are-addressable.patch
  buildroot-external/board/raspberrypi/yellow/patches/uboot/0001-drivers-bcm283x-don-t-explicitly-disable-init.patch
  buildroot-external/board/raspberrypi/yellow/patches/uboot/0002-drivers-bcm283x-allow-to-spawn-any-PL011-UART.patch
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
  buildroot-external/patches/uboot/0001-CMD-read-string-from-fileinto-env.patch
Labels: cla-signed, board/raspberrypi, board/odroid, os, board/tinker, board/khadas, board/green

#3104 Resolve warnings caused by incorrect kernel config settings
  buildroot-external/board/arm-uefi/generic-aarch64/kernel.config
  buildroot-external/board/asus/tinker/kernel.config
  buildroot-external/board/hardkernel/kernel-amlogic.config
  buildroot-external/board/hardkernel/odroid-xu4/kernel.config
  buildroot-external/board/khadas/kernel-vim.config
  buildroot-external/board/pc/generic-x86-64/kernel.config
  buildroot-external/board/pc/ova/kernel.config
  buildroot-external/board/raspberrypi/kernel-armv7.config
  buildroot-external/board/raspberrypi/kernel.config
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi5_64_defconfig
  buildroot-external/configs/yellow_defconfig
  buildroot-external/kernel/device-support-pci.config
  buildroot-external/kernel/device-support.config
  buildroot-external/kernel/docker.config
  buildroot-external/kernel/hassos.config
Labels: cla-signed, board/raspberrypi, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/yellow, board/generic-aarch64, board/green

#3107 Create empty overlays/README to fix DTB overlay loading on RPi 5
  buildroot-external/board/raspberrypi/rpi5-64/config.txt
  buildroot-external/board/raspberrypi/rpi5-64/hassos-hook.sh
Labels: cla-signed, board/raspberrypi

#3105 Fix path to VHDX artifact in OS build job
  .github/workflows/build.yaml
Labels: cla-signed, build

#3115 uboot: Use rockchip combined SPL images
  buildroot-external/board/hardkernel/odroid-m1/hassos-hook.sh
  buildroot-external/board/nabucasa/green/hassos-hook.sh
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/odroid_m1_defconfig
Labels: cla-signed

#3080 add optional rpi-rf-mod dtoverlay block
  buildroot-external/board/raspberrypi/rpi5-64/config.txt
Labels: cla-signed

#3122 Disable Ethernet in U-Boot if ODROID-M1
  buildroot-external/board/hardkernel/odroid-m1/uboot.config
  buildroot-external/configs/odroid_m1_defconfig
Labels: cla-signed, board/odroid, u-boot

#3118 Use rockchip combined SPL images for Tinkerboard
  buildroot-external/board/asus/hassos-hook.sh
  buildroot-external/board/asus/tinker/patches/uboot/0001-SPL-modify-load-address-of-U-Boot.patch
  buildroot-external/board/asus/tinker/uboot.config
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed

#3123 Linux: Update kernel 6.1.75
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3124 Disable MMC environment on ASUS Tinkerboard
  buildroot-external/board/asus/tinker/uboot.config
Labels: cla-signed, board/tinker, u-boot

#3126 Also check kernel custom config file in linux-check-dotconfig
  buildroot-external/external.mk
Labels: cla-signed, build

#3120 Remove folder with only Amlogic patches from Odroid M1 defconfig
  buildroot-external/configs/odroid_m1_defconfig
Labels: cla-signed, board/odroid
