Repository home-assistant/operating-system, pull requests merged in 2024-02, with the labels that each got.

#3130 Fix check-dotconfig warnings coming from custom kernel configs
  buildroot-external/board/asus/tinker/kernel.config
  buildroot-external/board/hardkernel/kernel-amlogic.config
  buildroot-external/board/hardkernel/kernel-rockchip.config
  buildroot-external/board/khadas/kernel-vim.config
  buildroot-external/board/nabucasa/kernel-rockchip.config
Labels: cla-signed, linux

#3133 Include links to kernel changelogs on kernel bump
  scripts/update-kernel-rpi.sh
  scripts/update-kernel-upstream.sh
Labels: cla-signed

#3134 Linux: Update kernel to 6.1.76
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3146 Use separate path for v6.1.y and v6.6.y kernel config fragments
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi5_64_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
  buildroot-external/kernel/v6.1.y/device-support-pci.config
  buildroot-external/kernel/v6.1.y/device-support-wireless-pci.config
  buildroot-external/kernel/v6.1.y/device-support-wireless.config
  buildroot-external/kernel/v6.1.y/device-support.config
  buildroot-external/kernel/v6.1.y/docker.config
  buildroot-external/kernel/v6.1.y/hassos.config
  buildroot-external/kernel/v6.6.y/device-support-pci.config
  buildroot-external/kernel/v6.6.y/device-support-wireless-pci.config
  buildroot-external/kernel/v6.6.y/device-support-wireless.config
  buildroot-external/kernel/v6.6.y/device-support.config
  buildroot-external/kernel/v6.6.y/docker.config
  buildroot-external/kernel/v6.6.y/hassos.config
Labels: cla-signed, linux

#3151 Enable ath12k, MT7996E and various new Realtek drivers from Linux v6.6
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/kernel/v6.6.y/device-support-wireless-pci.config
  buildroot-external/kernel/v6.6.y/device-support-wireless.config
Labels: cla-signed, board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3152 Use verity bundle format for RAUC updates
  buildroot-external/ota/manifest.raucm.gtpl
Labels: cla-signed, board/raspberrypi, board/ova, board/odroid, board/tinker, board/generic-x86-64, board/khadas, board/yellow, board/generic-aarch64, board/green

#3158 Fix ODROID XU4 boot by disabling PROVE_LOCKING in kernel
  buildroot-external/board/hardkernel/odroid-xu4/kernel.config
Labels: cla-signed, board/odroid, linux

#3159 Linux: Update kernel to 6.6.16
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3161 Bump Pi 5 image on release in Raspberry Pi Imager json
  .github/actions/bump-rpi-imager-version/action.yml
Labels: cla-signed, build

#3169 Update issue template with better links to logs, add CLI instructions
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#3170 Add SD/MMC drivers of Realtek card readers for generic_x86_64
  buildroot-external/board/pc/generic-x86-64/kernel.config
Labels: cla-signed, linux, board/generic-x86-64

#3165 Factor out common Rockchip config
  buildroot-external/board/nabucasa/green/kernel.config
  buildroot-external/board/nabucasa/green/patches/linux/0007-dt-bindings-RNG-Add-Rockchip-RNG-bindings.patch
  buildroot-external/board/nabucasa/green/patches/linux/0008-hwrng-add-Rockchip-SoC-hwrng-driver.patch
  buildroot-external/board/nabucasa/green/patches/linux/0009-arm64-dts-rockchip-add-DT-entry-for-RNG-to-RK356x.patch
  buildroot-external/board/nabucasa/kernel-rockchip.config
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/kernel/v6.6.y/kernel-arm64-rockchip.config
  buildroot-external/patches-rockchip/linux/0001-hwrng-add-Rockchip-SoC-hwrng-driver.patch
  buildroot-external/patches-rockchip/linux/0002-arm64-dts-rockchip-add-DT-entry-for-RNG-to-RK356x.patch
  buildroot-external/patches-rockchip/linux/0003-dt-bindings-RNG-Add-Rockchip-RNG-bindings.patch
Labels: cla-signed, board/odroid, board/green

#2854 Add udev rule to rpi-rf-mod package
  buildroot-external/package/rpi-rf-mod/82-rpi-rf-mod-leds.rules
  buildroot-external/package/rpi-rf-mod/rpi-rf-mod.mk
Labels: cla-signed, hacktoberfest, REL-11

#3121 Add support for Odroid M1S Board
  .github/workflows/matrix.json
  buildroot-external/board/hardkernel/odroid-m1s/boot-env.txt
  buildroot-external/board/hardkernel/odroid-m1s/cmdline.txt
  buildroot-external/board/hardkernel/odroid-m1s/hassos-hook.sh
  buildroot-external/board/hardkernel/odroid-m1s/kernel.config
  buildroot-external/board/hardkernel/odroid-m1s/meta
  buildroot-external/board/hardkernel/odroid-m1s/patches/linux/0001-arm64-dts-rockchip-Import-Hardkernel-ODROID-M1S-boar.patch
  buildroot-external/board/hardkernel/odroid-m1s/patches/linux/0002-arm64-dts-clean-up-as-required-for-mainline-linux.patch
  buildroot-external/board/hardkernel/odroid-m1s/patches/linux/0003-arm64-dts-fix-vdd_cpu-regulator-for-mainline.patch
  buildroot-external/board/hardkernel/odroid-m1s/patches/linux/0005-Remove-deprecated-snps-reset-properties.patch
  buildroot-external/board/hardkernel/odroid-m1s/patches/uboot/0001-board-rockchip-Add-Hardkernel-ODROID-M1S.patch
  buildroot-external/board/hardkernel/odroid-m1s/patches/uboot/0002-Apply-fixes-for-mainline-u-boot.patch
  buildroot-external/board/hardkernel/odroid-m1s/patches/uboot/0003-Improve-reliability-of-eMMC.patch
  buildroot-external/board/hardkernel/odroid-m1s/patches/uboot/0004-Fix-ethernet-properties.patch
  buildroot-external/board/hardkernel/odroid-m1s/uboot-boot.ush
  buildroot-external/board/hardkernel/odroid-m1s/uboot.config
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/scripts/hdd-image.sh
Labels: cla-signed, board/odroid

#3174 Move output directory to /mnt in GH build action
  .github/workflows/build.yaml
Labels: cla-signed, build

#3179 Add docs for Odroid-m1s
  Documentation/boards/README.md
  Documentation/boards/hardkernel/odroid-m1s.md
  Documentation/kernel.md
Labels: cla-signed

#3181 M1S issues template
  .github/ISSUE_TEMPLATE/bug_report.yml
  Documentation/boards/hardkernel/README.md
Labels: cla-signed

#3187 Clarify M1S flashing and recovery docs
  Documentation/boards/hardkernel/odroid-m1s.md
Labels: cla-signed, Documentation

#3204 Linux: Update kernel to 6.6.18
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green
