Repository home-assistant/operating-system, pull requests merged in 2024-05, with the labels that each got.

#3339 Enable grep context feature
  buildroot-external/busybox.config
Labels: cla-signed

#3342 Linux: Update kernel to 6.6.30
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3361 Use U-Boot tarball for all boards
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
Labels: cla-signed, board/odroid, board/green

#3384 Linux: Update kernel to 6.6.31
  Documentation/kernel.md
  buildroot-external/board/raspberrypi/patches/linux/0003-Revert-USB-core-changes-causing-issues-with-Z-Wave.m.patch
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/patches/linux/6.6.31/0001-ipv6-add-option-to-explicitly-enable-reachability-te.patch
  buildroot-external/patches/linux/6.6.31/0002-Revert-USB-core-changes-causing-issues-with-Z-Wave.m.patch
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3389 Reintroduce IPv6 reachability probe patch for RPi lost after refactoring
  buildroot-external/patches/linux/0001-ipv6-add-option-to-explicitly-enable-reachability-te.patch
Labels: cla-signed, board/raspberrypi, linux, board/yellow
