Repository home-assistant/operating-system, pull requests merged in 2024-08, with the labels that each got.

#3500 Linux: Update kernel to 6.6.44
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3499 Test landing page is reachable without internet connection
  tests/conftest.py
  tests/qemu_shell_strategy.py
  tests/requirements.txt
  tests/smoke_test/test_offline.py
Labels: cla-signed, build

#3505 Drop "default kernel tree" line from docs
  Documentation/kernel.md
Labels: cla-signed

#3507 Explains UMS Utility image
  Documentation/boards/hardkernel/odroid-m1s.md
Labels: cla-signed, Documentation

#3508 Bump ODROID N2's U-Boot to v2024.01 again
  buildroot-external/configs/odroid_n2_defconfig
Labels: cla-signed, board/odroid, u-boot

#3509 Increase block size of kernel squashfs image to 128K
  buildroot-external/genimage/images-os.cfg
Labels: cla-signed, os

#3510 Fix writing U-Boot environment on ODROID-M1
  buildroot-external/board/hardkernel/odroid-m1/patches/uboot/0001-odroid-m1-Disable-eMMC-DDR52-mode-enable-HS200.patch
  buildroot-external/configs/odroid_m1_defconfig
Labels: cla-signed, board/odroid, u-boot

#3511 Enable eMMC HS200 mode in Green's U-Boot defconfig
  buildroot-external/board/nabucasa/green/patches/uboot/0009-green-Do-not-use-eMMC-DDR52-mode-enable-HS200.patch
Labels: cla-signed, u-boot, board/green

#3518 Linux: Update kernel to 6.6.45
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/khadas, board/generic-aarch64, board/green

#3526 Fix CPU ID for D2xxx/N2xxx in GRUB2 loader patch
  buildroot-external/patches/grub2/0002-loader-efi-linux-use-legacy-loader-for-broken-Intel-.patch
Labels: cla-signed, board/generic-x86-64, grub2

#3527 Enable 1.5MBd serial console on Green for new installs
  buildroot-external/board/nabucasa/green/cmdline.txt
Labels: cla-signed, board/green

#3516 Enable NTFS and exFAT drivers for all targets
  buildroot-external/kernel/v6.6.y/hassos.config
Labels: cla-signed, os

#3529 Linux: Update kernel to 6.6.46
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3523 Implement device wipe using the hardware button on Green
  buildroot-external/board/nabucasa/green/patches/uboot/0010-arch-arm64-dts-green-Improve-LED-representation.patch
  buildroot-external/board/nabucasa/green/uboot-boot.ush
  buildroot-external/board/nabucasa/green/uboot.config
  buildroot-external/configs/green_defconfig
Labels: cla-signed, u-boot, board/green

#3536 Add LED indication for button handling in Yellow's U-Boot
  buildroot-external/board/raspberrypi/yellow/uboot-boot64.ush
  buildroot-external/board/raspberrypi/yellow/uboot.config
Labels: cla-signed, u-boot, board/yellow

#3562 Use GRUB legacy loader for HP t520 to fix boot with GRUB 2.12
  buildroot-external/patches/grub2/0002-loader-efi-linux-use-legacy-loader-for-broken-Intel-.patch
Labels: cla-signed, board/generic-x86-64, grub2
