Repository home-assistant/operating-system, pull requests merged in 2024-04, with the labels that each got.

#3286 Use Docker 25 for installing containers in hassio package
  buildroot-external/package/hassio/create-data-partition.sh
Labels: cla-signed, os

#3288 Linux: Update kernel to 6.6.24
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3289 Update Linux patches directory for v6.6.24
  buildroot-external/patches/linux/6.6.24/0001-ipv6-add-option-to-explicitly-enable-reachability-te.patch
  buildroot-external/patches/linux/6.6.24/0002-Revert-USB-core-changes-causing-issues-with-Z-Wave.m.patch
Labels: cla-signed

#3291 Linux: Update kernel to 6.6.25
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/patches/linux/6.6.25/0001-ipv6-add-option-to-explicitly-enable-reachability-te.patch
  buildroot-external/patches/linux/6.6.25/0002-Revert-USB-core-changes-causing-issues-with-Z-Wave.m.patch
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3292 Only run HA CLI interactively if stdout is a terminal
  buildroot-external/rootfs-overlay/usr/bin/ha
Labels: cla-signed, os, hypervisor/proxmox, hypervisor/kvm

#3299 Remove BT_HS from kernel configs after upstream removal
  buildroot-external/board/asus/tinker/kernel.config
  buildroot-external/kernel/v6.6.y/kernel-arm64-rockchip.config
Labels: cla-signed, linux

#3301 Update Raspberry Pi 3 device tree list
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
Labels: cla-signed

#3310 Linux: Update kernel to 6.6.27
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3311 Increase maximum length of usb_storage.quirks in RPi kernel params
  buildroot-external/board/raspberrypi/patches/linux/0002-USB-storage-Increase-maximum-length-of-the-quirks-st.patch
Labels: cla-signed, board/raspberrypi, usb-ssd, board/yellow

#3316 Linux: Update kernel to 6.6.28
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3317 Update instructions for ODROID M1 Petitboot update
  Documentation/boards/hardkernel/odroid-m1.md
Labels: cla-signed, Documentation

#3319 ODROID-N2/C2/C4: Force 40MHz instead of 24MHz as eMMC clock
  buildroot-external/board/hardkernel/patches/uboot/0001-HACK-mmc-meson-gx-limit-to-40MHz.patch
Labels: cla-signed, board/odroid

#3324 Revert GRUB2 patch causing boot failure on some old x86_64 BIOSes
  buildroot-external/board/pc/generic-x86-64/patches/grub2/0001-Revert-efi-Use-generic-EFI-loader-for-x86_64-and-i38.patch
  buildroot-external/configs/generic_x86_64_defconfig
Labels: cla-signed, board/generic-x86-64, grub2

#3329 Enable KVM for running tests in GH Actions
  .github/workflows/test.yaml
Labels: cla-signed, build

#3330 Enable kernel userspace crypto API interface for all platforms
  buildroot-external/board/asus/tinker/kernel.config
  buildroot-external/kernel/v6.6.y/hassos.config
  buildroot-external/kernel/v6.6.y/kernel-arm64-rockchip.config
Labels: cla-signed, board/raspberrypi, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/yellow, board/generic-aarch64, bluetooth, board/green

#3334 Linux: Update kernel to 6.6.29
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green
