Repository home-assistant/operating-system, pull requests merged in 2024-03, with the labels that each got.

#3218 Linux: Update kernel to 6.6.20
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3220 Disable UAS via usb-storage.quirks on RPi for JMicron JMS567
  buildroot-external/board/raspberrypi/cmdline.txt
Labels: cla-signed, board/raspberrypi, usb-ssd, board/yellow

#3225 Revert back to OOT driver for RTL8821CU
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
  buildroot-external/kernel/v6.6.y/device-support-wireless.config
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/yellow, board/generic-aarch64, board/green

#3234 Linux: Update kernel to 6.6.21
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/patches/linux/6.6.21/0001-Revert-USB-core-changes-causing-issues-with-Z-Wave.m.patch
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3238 Start HA CLI interactively and with a tty allocated
  buildroot-external/rootfs-overlay/usr/bin/ha
Labels: cla-signed

#3239 Fix test_restore_ssl_directory with HA CLI in interactive PTY
  tests/supervisor_test/test_supervisor.py
Labels: cla-signed, build

#3240 Fix IPv6 reachability patch not being applied
  buildroot-external/patches/linux/6.6.21/0001-ipv6-add-option-to-explicitly-enable-reachability-te.patch
  buildroot-external/patches/linux/6.6.21/0002-Revert-USB-core-changes-causing-issues-with-Z-Wave.m.patch
Labels: cla-signed, linux

#3248 kernel: enable MPTCP support
  buildroot-external/kernel/v6.1.y/hassos.config
  buildroot-external/kernel/v6.6.y/hassos.config
Labels: cla-signed

#3260 List Nabu Casa appliances under boards README.md
  Documentation/boards/README.md
  README.md
Labels: cla-signed

#3259 Linux: Update kernel to 6.6.22
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/patches/linux/6.6.22/0001-ipv6-add-option-to-explicitly-enable-reachability-te.patch
  buildroot-external/patches/linux/6.6.22/0002-Revert-USB-core-changes-causing-issues-with-Z-Wave.m.patch
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3261 Disable setting default keymap in systemd-vconsole-setup
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi5_64_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, os
