Repository home-assistant/operating-system, pull requests merged in 2025-04, with the labels that each got.

#3994 Linux: Update kernel to 6.12.21
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#4007 Linux: Update kernel to 6.12.22
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#4013 Disable amdgpu SI/CIK support and backport upstream patch to prevent crashes
  buildroot-external/board/pc/generic-x86-64/kernel.config
  buildroot-external/patches/linux/0003-drm-amd-Handle-being-compiled-without-SI-or-CIK-supp.patch
Labels: cla-signed, linux, board/generic-x86-64

#4014 Backport realtek phy driver changes for RTL8125D
  buildroot-external/board/arm-uefi/generic-aarch64/patches/linux/0001-r8169-add-support-for-RTL8125D.patch
  buildroot-external/board/arm-uefi/generic-aarch64/patches/linux/0002-net-phy-realtek-merge-the-drivers-for-internal-NBase.patch
  buildroot-external/board/arm-uefi/generic-aarch64/patches/linux/0003-net-phy-realtek-add-RTL8125D-internal-PHY.patch
  buildroot-external/board/pc/patches/linux/0001-r8169-add-support-for-RTL8125D.patch
  buildroot-external/board/pc/patches/linux/0002-net-phy-realtek-merge-the-drivers-for-internal-NBase.patch
  buildroot-external/board/pc/patches/linux/0003-net-phy-realtek-add-RTL8125D-internal-PHY.patch
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/patches/linux/0002-drm-amd-Handle-being-compiled-without-SI-or-CIK-supp.patch
Labels: cla-signed, board/ova, linux, board/generic-x86-64, board/generic-aarch64

#4015 Enable driver for 1-wire temperature sensors for generic-aarch64
  buildroot-external/board/arm-uefi/generic-aarch64/kernel.config
Labels: cla-signed, linux, board/generic-aarch64

#4016 Allow for fluctuation of MemTotal for automatic swapfile size
  buildroot-external/rootfs-overlay/usr/libexec/haos-swapfile
Labels: cla-signed, os

#4017 Linux: Update kernel to 6.12.23
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#4035 Linux: Update kernel to 6.12.24
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#4038 Use bcm2711 defconfig instead of removed bcmrpi3 for RPi 3 64-bit
  buildroot-external/configs/rpi3_64_defconfig
Labels: cla-signed, board/raspberrypi, linux

#4039 Fall back to buildroot make in top-level make
  Makefile
Labels: cla-signed, build

#4040 Make usage of top-level make easier, drop 'all' target
  Makefile
Labels: cla-signed, build

#4043 Allow to override update channel for build, use dev for dev builds
  .github/actions/haos-builder-command/action.yml
  .github/workflows/build.yaml
Labels: cla-signed, build

#4044 Linux: Update kernel to 6.12.25
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/patches/linux/0002-drm-amd-Handle-being-compiled-without-SI-or-CIK-supp.patch
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green
