Repository home-assistant/operating-system, pull requests merged in 2025-01, with the labels that each got.

#3773 Linux: Update kernel to 6.6.69
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3772 Change RPi bootargs order to keep cgroup memory controller enabled
  buildroot-external/board/raspberrypi/uboot-boot.ush
  buildroot-external/board/raspberrypi/uboot-boot64.ush
  buildroot-external/board/raspberrypi/yellow/uboot-boot64.ush
Labels: cla-signed, board/raspberrypi, board/yellow

#3782 Add all BCM2712 device trees to RPi 5 image
  buildroot-external/configs/rpi5_64_defconfig
Labels: cla-signed, board/raspberrypi

#3784 Allow boot from USB and NVMe on Khadas VIM3
  buildroot-external/board/khadas/vim3/uboot-boot.ush
Labels: cla-signed, board/khadas

#3792 Linux: Update kernel to 6.6.71
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3793 Disable CQE on mmc0 to fix I/O freezes on CM5
  buildroot-external/board/raspberrypi/patches/linux/0003-dts-bcm2712-rpi-Disable-CQE-for-CM5-eMMC-to-work-aro.patch
Labels: cla-signed, board/raspberrypi

#3795 Enable AMD 1-wire AXI IP and Zynq GPIO drivers
  buildroot-external/board/arm-uefi/generic-aarch64/kernel.config
Labels: cla-signed, linux, board/generic-aarch64

#3799 Enable ES1371 sound card module for VMWare guests
  buildroot-external/board/pc/ova/kernel.config
Labels: cla-signed, board/ova, linux

#3800 Make usb_modeswitch include directory writable
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/etc-usb_modeswitch.d.mount
Labels: cla-signed, os

#3803 Pin awscli to older version to work around R2 issues
  .github/workflows/build.yaml
Labels: cla-signed, build

#3812 Enable USB-SD convertor on AMD/Xilinx Kria KD240 platform
  buildroot-external/board/arm-uefi/generic-aarch64/kernel.config
Labels: cla-signed, board/generic-aarch64

#3813 Linux: Update kernel to 6.6.73
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3810 Move rauc.db to boot partition
  buildroot-external/ota/rauc-hook
  buildroot-external/ota/system.conf.gtpl
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/raucdb-first-boot.service
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/raucdb-migrate.service
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/raucdb-update.service
  buildroot-external/rootfs-overlay/usr/libexec/raucdb-update
Labels: cla-signed, os, os-update

#3818 Fix kernel tainted test
  tests/smoke_test/test_basic.py
  tests/supervisor_test/test_supervisor.py
Labels: cla-signed, build

#3821 Change cadence i2c driver from module to built-in driver
  buildroot-external/board/arm-uefi/generic-aarch64/kernel.config
Labels: cla-signed, board/generic-aarch64

#3840 Use Python 3.13 for the build and artifacts index jobs
  .github/workflows/artifacts-index.yaml
  .github/workflows/build.yaml
Labels: cla-signed, build

#3842 Fix RPi 5 getting stuck in bootloader after some reboots
  buildroot-external/board/raspberrypi/rpi5-64/rootfs-overlay/usr/lib/rauc/rpi-tryboot.sh
Labels: cla-signed, board/raspberrypi

#3843 Revert kernel patch causing USB 3 and PCIe breakage on ODROID-M1/M1S
  buildroot-external/patches-rockchip/linux/0004-Revert-phy-rockchip-naneng-combphy-fix-phy-reset.patch
Labels: cla-signed, board/odroid, linux
