Repository home-assistant/operating-system, pull requests merged in 2025-03, with the labels that each got.

#3912 Add test that no AppArmor denied events are produced
  tests/supervisor_test/test_supervisor.py
Labels: cla-signed, build

#3916 Use shell script instead of OS Agent for device wipe
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/haos-wipe.service
  buildroot-external/rootfs-overlay/usr/libexec/haos-wipe
Labels: cla-signed, os

#3917 Improve tests traceability, add test for Systemd dependency cycles
  .github/workflows/test.yaml
  tests/smoke_test/test_basic.py
  tests/smoke_test/test_offline.py
  tests/supervisor_test/test_supervisor.py
Labels: cla-signed, build

#3919 Linux: Update kernel to 6.12.18
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3924 Ensure haos-wipe service can be called only once per boot
  buildroot-external/rootfs-overlay/usr/lib/systemd/system/haos-wipe.service
Labels: cla-signed, os

#3929 Linux: Update kernel to 6.12.19
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3928 Add landing page test to the basic test set
  tests/smoke_test/test_basic.py
Labels: cla-signed, build

#3946 Move ODROID-N2/C2/C4 U-Boot patch to correct folder to fix eMMC issues
  buildroot-external/board/hardkernel/patches-meson/uboot/0001-HACK-mmc-meson-gx-limit-f_max-to-24-MHz-on-the-first.patch
Labels: cla-signed, board/odroid, u-boot

#3947 Add patches missing for ODROID-N2/C2/C4 to fix missing serial/I2C
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_n2_defconfig
Labels: cla-signed, board/odroid

#3959 Change i915 to module for proper initialization in VM passthrough
  buildroot-external/board/pc/ova/kernel.config
Labels: cla-signed, board/ova

#3969 Add Mellanox ConnectX-3 NIC support for kernel 6.12
  buildroot-external/kernel/v6.12.y/device-support-pci.config
Labels: cla-signed, board/ova, linux, board/generic-x86-64

#3971 Linux: Update kernel to 6.12.20
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#3972 Backport RPi patches for PIO/RP1 firmware probing errors
  buildroot-external/board/raspberrypi/patches/linux/0005-misc-rp1-pio-Error-out-on-incompatible-firmware.patch
  buildroot-external/board/raspberrypi/patches/linux/0006-firmware-rp1-Linger-on-firmware-failure.patch
  buildroot-external/board/raspberrypi/patches/linux/0007-mailbox-rp1-Don-t-claim-channels-in-of_xlate.patch
  buildroot-external/board/raspberrypi/patches/linux/0008-misc-rp1-pio-Demote-fw-probe-error-to-warning.patch
Labels: cla-signed, board/raspberrypi, board/yellow

#3973 Set initial_turbo=0 in config.txt on Raspberry Pi 3
  buildroot-external/board/raspberrypi/config.txt
  buildroot-external/ota/rauc-hook
Labels: cla-signed, board/raspberrypi

#3980 Add workflow for locking old issues
  .github/workflows/lock.yml
Labels: cla-signed

#3982 Fix permissions for the lock workflow
  .github/workflows/lock.yml
Labels: cla-signed
