Repository home-assistant/operating-system, pull requests merged in 2025-05, with the labels that each got.

#4045 Fix U-Boot config to access all RAM on 16 GB CM5
  buildroot-external/board/raspberrypi/patches/uboot/0013-configs-rpi-set-NR_DRAM_BANKS-to-8-to-accommodate-RA.patch
Labels: cla-signed, u-boot, board/yellow

#4050 Linux: Update kernel to 6.12.27
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#4056 Add brcmfmac module options to improve RPi WiFi stability
  buildroot-external/board/raspberrypi/rootfs-overlay/usr/lib/modprobe.d/brcmfmac.conf
Labels: cla-signed, board/raspberrypi, board/yellow, wifi

#4057 Add missing compatible/model to Yellow+CM5 DTS
  buildroot-external/board/raspberrypi/yellow/patches/linux/0023-ARM-dts-bcm2712-yellow-add-compatible-and-model-lost.patch
Labels: cla-signed, linux, board/yellow

#4061 Linux: Update kernel to 6.12.28
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/generic-aarch64, board/green

#4058 Add device-specific symlinks for WiFi firmware on Yellow
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,4-compute-module-ha-yellow.bin
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,4-compute-module-ha-yellow.clm_blob
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,4-compute-module-ha-yellow.txt
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,5-compute-module-ha-yellow.bin
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,5-compute-module-ha-yellow.clm_blob
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,5-compute-module-ha-yellow.txt
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43456-sdio.raspberrypi,4-compute-module-ha-yellow.bin
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43456-sdio.raspberrypi,4-compute-module-ha-yellow.clm_blob
  buildroot-external/board/raspberrypi/yellow/rootfs-overlay/usr/lib/firmware/brcm/brcmfmac43456-sdio.raspberrypi,4-compute-module-ha-yellow.txt
Labels: cla-signed, board/yellow, wifi

#4002 Enable PCI I/O virtualization in kernel
  buildroot-external/kernel/v6.12.y/device-support-pci.config
Labels: cla-signed, board/raspberrypi, board/ova, linux, board/generic-x86-64, board/yellow, board/generic-aarch64

#4063 Enable usage of rpi-eeprom-update on Raspberry Pi 4/5/Yellow
  buildroot-external/Config.in
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi5_64_defconfig
  buildroot-external/configs/yellow_defconfig
  buildroot-external/package/rpi-eeprom/0001-rpi-eeprom-update-adjust-hassos-boot-discovery.patch
  buildroot-external/package/rpi-eeprom/0002-rpi-eeprom-update-remove-raspi-config-mentions-and-u.patch
  buildroot-external/package/rpi-eeprom/Config.in
  buildroot-external/package/rpi-eeprom/rpi-eeprom.hash
  buildroot-external/package/rpi-eeprom/rpi-eeprom.mk
  buildroot-external/package/vcgencmd/Config.in
  buildroot-external/package/vcgencmd/vcgencmd.hash
  buildroot-external/package/vcgencmd/vcgencmd.mk
Labels: cla-signed, board/raspberrypi, board/yellow

#4064 Fix hassio channel switching for dev builds
  .github/workflows/build.yaml
Labels: cla-signed, build

#4065 Remove unused FW_LOADER_USER_HELPER in Rockchip base config
  buildroot-external/kernel/v6.12.y/kernel-arm64-rockchip.config
Labels: cla-signed, board/odroid, linux, board/green

#4067 Create VM image .zip files in parallel using pigz
  Dockerfile
  buildroot-external/scripts/hdd-image.sh
Labels: cla-signed, build

#4072 Linux: Update kernel to 6.12.29
  Documentation/kernel.md
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/tinker_defconfig
Labels: cla-signed, board/ova, board/odroid, board/tinker, linux, board/generic-x86-64, board/khadas, board/generic-aarch64, board/green

#4077 Remove execute bit from green_defconfig
  buildroot-external/configs/green_defconfig
Labels: cla-signed, build

#4076 Disable reverse DNS lookups for Dropbear
  buildroot-external/configs/generic_aarch64_defconfig
  buildroot-external/configs/generic_x86_64_defconfig
  buildroot-external/configs/green_defconfig
  buildroot-external/configs/khadas_vim3_defconfig
  buildroot-external/configs/odroid_c2_defconfig
  buildroot-external/configs/odroid_c4_defconfig
  buildroot-external/configs/odroid_m1_defconfig
  buildroot-external/configs/odroid_m1s_defconfig
  buildroot-external/configs/odroid_n2_defconfig
  buildroot-external/configs/odroid_xu4_defconfig
  buildroot-external/configs/ova_defconfig
  buildroot-external/configs/rpi2_defconfig
  buildroot-external/configs/rpi3_64_defconfig
  buildroot-external/configs/rpi3_defconfig
  buildroot-external/configs/rpi4_64_defconfig
  buildroot-external/configs/rpi4_defconfig
  buildroot-external/configs/rpi5_64_defconfig
  buildroot-external/configs/tinker_defconfig
  buildroot-external/configs/yellow_defconfig
Labels: cla-signed, os
